<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'DAILY_RECORD.title' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- FIXME :  (click)="isShow=!isShow" ADD RECOR UI 中 icon 隨者 <ion-toggle> 撥動而改變顏色-->
<ion-content>
  <ion-list>
    <ion-item (click)="onBodyTemperatureClick()">
      <ion-label color="primary">{{ 'DAILY_RECORD.bodyTemperature' | translate }}</ion-label>
      <ion-label class="ion-text-right" slot="end">{{ bt }}{{ btUnit }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label color="primary">{{ 'DAILY_RECORD.condition' | translate }}</ion-label>
    </ion-item>


    <ion-list *ngFor="let symptoms of list.symptoms">
      <ion-item>
        <ion-label class="ion-padding-start">{{ symptoms.name}}</ion-label>
        <ion-toggle [(ngModel)]="symptoms.state"></ion-toggle>
        <img src="../../assets/ui/msg_icon.svg" button (click)="symptoms.isNote=!symptoms.isNote"
          *ngIf="symptoms.isNote" />
        <img src="../../assets/ui/msg_icon_0.svg" button (click)="symptoms.isNote=!symptoms.isNote"
          *ngIf="!symptoms.isNote" />
      </ion-item>
      <ion-item *ngIf="symptoms.isNote">
        <ion-label position="stacked">Notes</ion-label>
        <!-- <ion-input  value="symptoms.note"></ion-input> -->

        <ion-textarea  type="text"  [(ngModel)]="symptoms.note"></ion-textarea>
      </ion-item>
    </ion-list>


    <!-- <ion-list>
      <ion-item>
        <ion-label class="ion-padding-start">{{ 'DAILY_RECORD.headache' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="condition.headache" (click)="isShow1=!isShow1"></ion-toggle>
        <img src="../../assets/ui/msg_icon.svg" *ngIf="isShow1" />
        <img src="../../assets/ui/msg_icon_0.svg" *ngIf="!isShow1" />
      </ion-item>
      <ion-item *ngIf="!isShow1">
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label class="ion-padding-start">{{ 'DAILY_RECORD.runnyNose' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="condition.runnyNose" (click)="isShow2=!isShow2"></ion-toggle>
        <img src="../../assets/ui/msg_icon.svg" *ngIf="isShow2" />
        <img src="../../assets/ui/msg_icon_0.svg" *ngIf="!isShow2" />
      </ion-item>
      <ion-item *ngIf="!isShow2">
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label class="ion-padding-start">{{ 'DAILY_RECORD.soreThroat' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="condition.soreThroat" (click)="isShow3=!isShow3"></ion-toggle>
        <img src="../../assets/ui/msg_icon.svg" *ngIf="isShow3" />
        <img src="../../assets/ui/msg_icon_0.svg" *ngIf="!isShow3" />
      </ion-item>
      <ion-item *ngIf="!isShow3">
        <ion-label position="stacked">Notes</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-list> -->

    <!-- <ion-list *ngIf="isShow">
      <ion-item>

        <div>
          <img *ngIf="!isSelect" (click)="addSelect(ToDay)" src="../../assets/ui/add_icon_2.svg" />
          <img *ngIf="isSelect" (click)="delSelect(ToDay)" src="../../assets/ui/add_icon_3.svg" />
        </div>
        <ion-label class="ion-text-start">
          day {{ ToDay.day }}
        </ion-label>
      </ion-item>
    </ion-list> -->

  </ion-list>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <!-- <ion-col size="3" class="ion-align-self-center">
        <ion-button (click)="onClearClick()" fill="clear">其他</ion-button>
      </ion-col> -->
      <ion-col size="3" class="ion-align-self-center">
        <ion-button (click)="onClearClick()" fill="clear">{{ 'DAILY_RECORD.clear' | translate }}</ion-button>
      </ion-col>
      <ion-col size="3" class="ion-align-self-center">
        <ion-button (click)="onSubmitClick()">{{ 'DAILY_RECORD.submit' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-container *ngIf="recorded$ | async"></ng-container>