<app-main-header [headerTitle]="'title.dailyRecord' | translate" showDismissButton="true" (dismissClicked)="cancel()"></app-main-header>
<ion-content>
  <ion-list>
    <ng-container *ngIf="record$ | async as record">
      <ion-item *ngFor="let field of record.fields" button>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>{{ 'preset.' + record.templateName + '.' + field.name | translate }}</ion-label>
        <ion-toggle *ngIf="field.type === recordFieldType.boolean"></ion-toggle>
        <ion-text *ngIf="field.type !== recordFieldType.boolean" (click)="editRecord(field, record.templateName)">{{ (field.value) ? field.value : 'title.notSet' | translate }}</ion-text>
      </ion-item>
    </ng-container>
  </ion-list>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="3" class="ion-align-self-center">
        <ion-button (click)="onClearClick()" fill="clear">{{ 'title.clear' | translate }}</ion-button>
      </ion-col>
      <ion-col size="3" class="ion-align-self-center">
        <ion-button (click)="onSubmitClick()">{{ 'title.submit' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ng-container *ngIf="recorded$ | async"></ng-container>