.window {
    height: 120vw;
}

.link-contaienr {
    height: 40vw;
}

.paperclip {
    height: 40px;
    width: 40px;
    background-color: #eef0f0;
    border-style: solid;
    border-width: 1px 0.5px 1px 1px;
    border-color: #838383;
    display: flex;
    div {
        margin: auto;
    }
}

.link {
    height: 40px;
    width: 200px;
    background-color: #eef0f0;
    border-style: solid;
    border-width: 1px 1px 1px 0.5px;
    border-color: #838383;
    display: flex;
    padding: 1px;
        input {
            margin: auto;
            background-color: #eef0f0;
            border: none;
            font-size: 4vw;
            overflow-x: hidden;
        }
}

.share-target {
    height: 40px;
    width: 240px;
    background-color: #eef0f0;
    border-style: solid;
    border-width: 1px;
    border-color: #838383;
    display: flex;
    padding: 0px;
        input {
            margin: auto auto auto 5px;
            background-color: #eef0f0;
            border: none;
            font-size: 4vw;
        }
}

.desc {
    font: {
        size: 12px;
    }
}