<ion-content *ngIf="stage === StageEnum.AreYouSure">
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">{{ 'title.areYouSure' | translate }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center desc">{{ 'description.shareOnCloudTemporarily' | translate }}</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-button fill="clear" color="dark" (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
      <ion-button fill="clear" color="dark" (click)="confirm()">{{ 'title.confirm' | translate }}</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-content *ngIf="stage === StageEnum.Upload">
  <ng-container *ngIf="uploadService.generatedUrl$ | async as generatedUrl; else loading">
    <ion-row>
      <ion-col class="ion-text-center">{{ 'description.copyLinkToShare' | translate }}</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <div class="paperclip" (click)="onClickCopy()">
        <div>
          <img src="../../../assets/ui/link.svg">
        </div>
      </div>
      <div class="link">
        <input type="text" readonly [value]="generatedUrl">
      </div>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-button fill="clear" color="dark" (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
      <ion-button fill="clear" color="dark" (click)="confirm()" [attr.disabled]="generatedUrl === ''">
        {{ 'title.confirm' | translate }}</ion-button>
    </ion-row>
  </ng-container>
  <ng-template #loading>
    <ion-row>
      <ion-col class="ion-text-center">{{ 'description.uploadingDataToCreateShareableLink' | translate }}</ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-spinner></ion-spinner>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-button fill="clear" color="dark" (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
      <ion-button fill="clear" color="dark" (click)="confirm()" disabled>
        {{ 'title.confirm' | translate }}</ion-button>
    </ion-row>
  </ng-template>
</ion-content>

<ion-content *ngIf="stage === StageEnum.ShareToWhom">
  <ion-row>
    <ion-col class="ion-text-center">{{ 'description.shareToWhom' | translate }}</ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <div class="share-target">
      <input type="text" [placeholder]="'title.johnDoe' | translate">
    </div>
  </ion-row>
  <ion-row class="ion-justify-content-end">
    <ion-button fill="clear" color="dark" (click)="confirm()">{{ 'title.skip' | translate }}</ion-button>
    <ion-button fill="clear" color="dark" (click)="confirm()">{{ 'title.confirm' | translate }}</ion-button>
  </ion-row>
</ion-content>

<ion-content style="justify-items: center;margin-top: 50vh;" *ngIf="stage === StageEnum.Shared">
  <ion-grid style="width:100%;height:100%;overflow:scroll;align-items: center;justify-items: center;">
    <div style="display: flex;flex-direction: column;align-items: center;">
      <img style="width:100px;height:100px;" src="../assets/ui/success.svg" />
      <h4>{{ 'title.dataShared' | translate }}</h4>
    </div>
  </ion-grid>
</ion-content>

<ion-content style="justify-items: center;margin-top: 50vh;" *ngIf="stage === StageEnum.Error">
  <ion-grid style="width:100%;height:100%;overflow:scroll;align-items: center;justify-items: center;">
    <div style="display: flex;flex-direction: column;align-items: center;">
      <h4>{{ 'description.uploadingDataError' | translate }}</h4>
    </div>
  </ion-grid>
</ion-content>