<app-main-header [headerTitle]="'title.scanQrcode' | translate" showDismissButton="true" (dismissClicked)="cancel()">
</app-main-header>
<ion-content>
  <ng-container *ngIf="(couponService.poolBalance$ | async) as poolBalance; else loading">
    <ng-container *ngIf="(couponService.userBalance$ | async) as userBalance; else loading">
      <ion-list>
        <ion-item>
          <ion-icon name="flash-outline" slot="start"></ion-icon>
          <ion-label>{{ 'title.canItBeRedeemed' | translate }}</ion-label>
          <ion-text *ngIf="poolBalance >= 20">{{ 'title.canRedeem' | translate }}</ion-text>
          <ion-text *ngIf="poolBalance < 20">{{ 'title.cannotRedeem' | translate }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon name="card-outline" slot="start"></ion-icon>
          <ion-label>{{ 'title.currentBalance' | translate }}</ion-label>
          <ion-text>{{ userBalance }}</ion-text>
        </ion-item>
      </ion-list>
      <app-qr-scanner *ngIf="poolBalance >= 20 && userBalance >= 20" [scanEnabled]="scanEnabled$"
        (scanResult)="scanResultHandler($event)"></app-qr-scanner>
    </ng-container>
  </ng-container>
  <ng-template #loading>
    <ion-spinner name="bubbles"></ion-spinner>
  </ng-template>
</ion-content>
<ion-footer hidden>
  <div class="ion-justify-content-between" hidden>
    <ion-button (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
    <ion-button (click)="confirm()">{{ 'title.confirm' | translate }}</ion-button>
  </div>
</ion-footer>