<ion-card>
  <ion-card-header>
    <ion-card-title>{{ 'SYMPTOM.cardTitleMonitoring' | translate:params }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid fixed>
      <ion-segment (ionChange)="segmentChanged($event)" color="danger" value=false>
        <ion-segment-button value=false>
          <ion-label>{{ 'SYMPTOM.coughingNegative' | translate:params }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value=true>
          <ion-label>{{ 'SYMPTOM.coughingPositive' | translate:params }}</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-segment (ionChange)="segmentChanged($event)" color="warning" value=true>
          <ion-segment-button value=false>
            <ion-label>{{ 'SYMPTOM.runningNoseNegative' | translate:params }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value=true>
            <ion-label>{{ 'SYMPTOM.runningNosePositive' | translate:params }}</ion-label>
          </ion-segment-button>
      </ion-segment>
    </ion-grid>
  </ion-card-content>
</ion-card>
