<ion-virtual-scroll [items]="summaryByDateArray$ | async" approxItemHeight="220px" height="100%">
  <ion-card *virtualItem="let item; let itemBounds = bounds;" [routerLink]="['/tabs/tab-data/daily', item.key]"
    routerDirection="forward">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card-header>
            <ion-card-title class="ion-text-center">DAY {{ item.value.dayCount }}</ion-card-title>
            <ion-card-title class="ion-text-center">{{ item.key | date: 'MM/dd' }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <div>
              <ion-label color="dark">
                <small>
                  {{ item.value.recordsCount }} {{ 'title.recordsCount' | translate }}
                </small>
              </ion-label>
            </div>
            <div *ngIf="item.value.keyData.value">
              <ion-label color="dark">
                <small>
                  {{ 'title.' + item.value.keyData.dataClass | translate }}
                  {{ 'preset.' + item.value.templateName + '.' + item.value.keyData.name | translate }}:
                  {{ item.value.keyData.value }}
                  {{ 'preset.' + item.value.templateName + '.unit.' + item.value.keyData.unit | translate }}
                </small>
              </ion-label>
            </div>
          </ion-card-content>
        </ion-col>
        <ion-col size="6">
          <ion-thumbnail>
            <ion-img *ngIf="item.value.imgByteString" [src]="'data:image/jpeg;base64,' + item.value.imgByteString"
              alt="No picture">
            </ion-img>
            <ion-img *ngIf="!item.value.imgByteString" src="/assets/imgA.png" alt="No picture">
            </ion-img>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-virtual-scroll>