<ion-virtual-scroll [items]="dailySummaries" approxItemHeight="220px" height="100%">
  <ion-card *virtualItem="let item; let itemBounds = bounds;" [routerLink]="['/tabs/tab-data/daily', item.date]"
    routerDirection="forward">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="6">
          <ion-card-header>
            <ion-card-title class="ion-text-center">DAY {{ item.dayCount }}</ion-card-title>
            <ion-card-title class="ion-text-center">{{ item.dateView }}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="ion-text-center">
            <div>
              <ion-label color="dark">
                <small>
                  {{ item.recordsCount }} {{ 'title.recordsCount' | translate }}
                </small>
              </ion-label>
            </div>
            <div *ngFor="let row of item.dataSummaries | keyvalue">
              <ion-label color="dark">
                <small>
                  {{ 'preset.' + item.templateName + '.' + row.key | translate }}: {{ row.value.value }}
                  {{ row.value.valueUnit }}
                </small>
              </ion-label>
            </div>
          </ion-card-content>
        </ion-col>
        <ion-col size="6">
          <ion-thumbnail>
            <ion-img [src]="getImgSrc(item.imgByteString)" alt="No picture">
            </ion-img>
          </ion-thumbnail>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-virtual-scroll>