<app-main-header [headerTitle]="'SETTINGS.settings' | translate"></app-main-header>

<ion-content>
  <ion-list>
    <ion-item (click)="onClickNameItem()" button>
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.name' | translate }}</ion-label>
      <ion-text>{{ name$ | async }}</ion-text>
    </ion-item>

    <ion-item (click)="onClickEmailItem()" button>
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.email' | translate }}</ion-label>
      <ion-text>{{ email$ | async }}</ion-text>
    </ion-item>

    <ion-item (click)="dateOfBirthPicker.open()" lines="inset" button>
      <ion-icon name="calendar-outline" slot="start">
      </ion-icon>
      <ion-label>{{ 'SETTINGS.dateOfBirth' | translate }}</ion-label>
      <ion-text *ngIf="!(dateOfBirth$ | async)">{{ 'SETTINGS.notSet' | translate }}</ion-text>
      <ion-datetime #dateOfBirthPicker [value]="dateOfBirth$ | async" (ionChange)="onChangeDateOfBirthPicker()"
        [hidden]="!(dateOfBirth$ | async)"></ion-datetime>
    </ion-item>

    <ion-item (click)="onClickAboutItem()" button>
      <ion-icon name="information-circle-outline" slot="start"></ion-icon>
      <ion-label>{{ 'SETTINGS.about' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>