<app-header [headerTitle]="'title.settings' | translate"></app-header>

<ion-content>
  <ng-container *ngIf="versionClick$ | async"></ng-container>
  <ng-container *ngIf="userData$ | async as userDataView">
    <ion-list>
      <ion-item (click)="onClickNameItem()" button>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.name' | translate }}</ion-label>
        <ion-text *ngIf="userDataView.firstName || userDataView.lastName">
          {{ userDataView.firstName + ' ' + userDataView.lastName }}
        </ion-text>
        <ion-text *ngIf="!userDataView.firstName && !userDataView.lastName">{{ 'title.notSet' | translate }}</ion-text>
      </ion-item>

      <ion-item (click)="onClickEmailItem()" button>
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.email' | translate }}</ion-label>
        <ion-text *ngIf="userDataView.email">{{ userDataView.email }}</ion-text>
        <ion-text *ngIf="!userDataView.email">{{ 'title.notSet' | translate }}</ion-text>
      </ion-item>

      <ion-item (click)="dateOfBirthPicker.open()" lines="inset" button>
        <ion-icon name="calendar-outline" slot="start">
        </ion-icon>
        <ion-label>{{ 'title.dateOfBirth' | translate }}</ion-label>
        <ion-text *ngIf="!userDataView.dateOfBirth">{{ 'title.notSet' | translate }}</ion-text>
        <ion-datetime [hidden]="!userDataView.dateOfBirth" #dateOfBirthPicker [value]="userDataView.dateOfBirth"
          (ionChange)="onChangeDateOfBirthPicker()" [cancelText]="'title.cancel' | translate"
          [doneText]="'title.confirm' | translate"></ion-datetime>
      </ion-item>

      <ion-item lines="inset">
        <ion-icon name="language-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.language' | translate }}</ion-label>
        <ion-select [value]="userDataView.language" (ionChange)="onChangeLanguage($event)"
          [cancelText]="'title.cancel' | translate" [okText]="'title.confirm' | translate">
          <ion-select-option *ngFor="let language of languages" [value]="language">
            {{ 'language.' + language | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="inset">
        <ion-icon name="documents-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.selectRecordMode' | translate }}</ion-label>
        <ion-select *ngIf="showSelects"
          [value]="(userDataView.recordPreset) ? userDataView.recordPreset : recordPresets[0]"
          (ionChange)="presetSelected($event)" [cancelText]="'title.cancel' | translate"
          [okText]="'title.confirm' | translate">
          <ion-select-option *ngFor="let preset of recordPresets" [value]="preset">
            {{ 'preset.' + preset + '.presetName' | translate }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item (click)="onClickSharedLogboardLinkItem()" [disabled]="!(hasGeneratedSharedLink$ | async)" button>
        <ion-icon name="link-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.sharedLogboardLink' | translate }}</ion-label>
        <ion-text>
          {{ (hasGeneratedSharedLink$ | async) ? ('title.generated' | translate) : ('title.notGenerated' | translate) }}
        </ion-text>
      </ion-item>

      <ion-item (click)="onClickAboutItem()" button>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.about' | translate }}</ion-label>
      </ion-item>

      <ion-item (click)="onClickVersion()" button>
        <ion-icon name="code-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.version' | translate }}</ion-label>
        <ion-text>{{ appVersion }}</ion-text>
      </ion-item>

      <ion-list-header *ngIf="showDeveloperOptions === true">
        開發人員選項
      </ion-list-header>
      <ion-item *ngIf="showDeveloperOptions === true" lines="inset">
        <ion-icon name="hammer-outline" slot="start"></ion-icon>
        <ion-label>上傳測試設定</ion-label>
        <ion-select value="PROD" okText="確定" cancelText="取消" (ionChange)="uploadHostSelected($event)">
          <ion-select-option value="PROD">Production</ion-select-option>
          <ion-select-option value="DEV">Dev</ion-select-option>
          <ion-select-option value="LOCAL">Localhost</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>