ion-thumbnail {
        width: 22vw;
        height:25.5vw ;
        

     }
:root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
      ion-img{
              width: 22vw;
              height:22vw ;
      }
      .popover_class .popover-content {
        height:  20% !important;
        background-color:#f323a4 !important; 

}
.popover_class  {
        height:  20% !important;
        background-color:rgb(252, 255, 51) !important; 

}
 .popover-content {
        height:  20% !important;
        background-color:rgb(51, 65, 255) !important; 

}