<ion-grid style="width:100%;height:300px;overflow:scroll;">
  <ion-row>
    <div style="display: flex;flex-direction: row;flex-wrap: wrap;">
      <ng-container *ngFor="let record of records$ | async">
        <ng-container *ngFor="let field of record.fields">
          <ion-thumbnail *ngIf="field.type === 'photo' && field.value">
            <div (click)="showPhotoViewer(record)">
              <ion-img [src]="'data:image/jpeg;base64,' + field.value"></ion-img>
            </div>
          </ion-thumbnail>
        </ng-container>
      </ng-container>
    </div>
  </ion-row>
</ion-grid>