<ion-content>
  <ion-slides pager="true">
    <ion-slide scrollbar="false">
      <img src="../../assets/onboarding/1.svg" />
      <div class="text-container">
        <h1>{{ 'title.logYourLifeActivities' | translate }}</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/onboarding/2.svg" />
      <div class="text-container">
        <h1>{{ 'title.throughDataVisualization' | translate }}</h1>
        <p>{{ 'description.throughDataVisualization' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/onboarding/3.svg" />
      <div class="text-container">
        <h1>{{ 'title.protectYourOwnData' | translate }}</h1>
        <p>{{ 'description.protectYourData' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/onboarding/4.svg" />
      <div class="text-container">
        <h1>{{ 'description.getInvolvedInResearch' | translate }}</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <app-eula-zh *ngIf="(language$ | async) === 'zh'" class="terms-and-conditions ion-margin"></app-eula-zh>
      <app-eula-en *ngIf="(language$ | async) !== 'zh'" class="terms-and-conditions ion-margin"></app-eula-en>
    </ion-slide>
    <ion-slide>
      <app-signup-form [title]="'title.getStarted' | translate" (signupEvent)="onSignup()"></app-signup-form>
    </ion-slide>
  </ion-slides>
</ion-content>