<ion-content>
  <ion-slides pager="true">
    <ion-slide scrollbar="false">
      <img src="../../assets/onboarding/1.svg" />
      <div class="text-container">
        <h1>{{ 'title.logYourLifeActivities' | translate }}</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/onboarding/2.svg" />
      <div class="text-container">
        <h1>{{ 'title.throughDataVisualization' | translate }}</h1>
        <p>{{ 'description.throughDataVisualization' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/onboarding/3.svg" />
      <div class="text-container">
        <h1>{{ 'title.protectYourOwnData' | translate }}</h1>
        <p>{{ 'description.protectYourData' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/onboarding/4.svg" />
      <div class="text-container">
        <h1>{{ 'description.getInvolvedInResearch' | translate }}</h1>
      </div>
    </ion-slide>
    <ion-slide>
      <div *ngIf="(language$ | async) === 'zh'" class="terms-and-conditions ion-margin">
        <h5 class="ion-text-center header">MyLog 使用者條款摘要</h5>
        <p class="sub-header">「自己的資料自己管 (own and control your data)」</p>
        <p>
          歡迎您使用 MyLog 手機 APP 應用程式，我們希望您瞭解在使用或連結本服務時，亦能清楚瞭解本 APP 與您個人隱私暨個人資料等基本權利間的關係，請您在連結或使用本服務前，務必詳讀本服務之使用者條款內容。本 APP
          所提供之任何服務均會透過一組匿名（去識別化）的軟體 ID
          來連結您的使用裝置，除非是您自願公開的情況及提供服務之必要範圍外，否則我們不會也無法得知您使用或連結本服務時所提供的任何個人隱私及個人資料。此外，本服務尊重您的隱私及個人資料，所以不會額外要求您註冊任何資料，諸如綁定
          Google 或 Facebook 等帳號，請您放心。
        </p>
        <p>
          但請特別注意，本 APP 為提供所謂「提供服務之必要服務，就範圍」，係指當您連結或使用 APP 時的所在地點或上傳照片所使用之圖片或文字檔的
          Hash，會透過匿名的方式在區塊鏈上紀錄，惟請您放心，該等紀錄亦無法識別出您個人。
        </p>
        <p>
          本服務係由 MyData Taiwan 所開發，其為國際社群 MyData Global 的台灣分支， MyData Global 之宗旨是倡議個人隱私暨資訊權，並喚起民眾拿回自己對數據的掌控權。MyData
          Taiwan
          冀望透過本服務能實踐保障公民的自由權益（隱私權、人身自由暨個人資料自主權），並同時透過公民參與的方式，主動提供願意分享給政府的資訊，協助政府降低資料管理的成本。
        </p>
        <h5 class="ion-text-center header">MyLog 使用者條款</h5>
        <p class="ion-text-right">最近一次修改日期：2020 年 5 月 18 日</p>
        <p>
          歡迎您使用 MyLog（下稱「本服務」）手機 APP 應用程式（下稱「APP」），請您開始使用本服務前，務必詳讀下列條款內容。如您不同意本條款任一內容，請您立即停止使用本服務。本服務係由 MyData Taiwan
          Team（下稱「本團隊」）所提供。無論您是否有註冊成為本服務之會員，於連結或使用本服務時，即代表您已詳細閱讀、瞭解並同意受本條款之拘束，且明瞭並同意本團隊有權於任何時間修改或變更本條款之內容。如您不同意本條款或本條款修改或變更後之內容，或您所屬的國家或地區排除本條款內容之一部或全部時，請您立即停止使用本服務。若您未滿二十歲或無完全行為能力，請立即停止連結或使用本服務。當您使用或繼續連結或使用本服務時，即表示您的法定代理人（或監護人）已閱讀、瞭解並同意接受本條款之所有內容及其後修改變更之內容。本條款所稱之「使用者」或「您」，除另有規定外，係指連結或使用本服務之任何人。
        </p>
        <p>
          若您點擊「同意」，即表示您已閱讀、瞭解並同意遵守下列條款：
        </p>
        <h6 class="ion-text-center header">一、一般使用者條款</h6>
        <ul class="zh">
          <li>（一）使用者提供或儲存的內容
            <ol>
              <li>當您首次使用或連結本服務時，並不會要求您註冊，本團隊僅就您所使用之行動裝置上隨機給予一組匿名的軟體 ID，惟該軟體 ID
                並無法識別出您與使用或連結本服務的行動裝置；此外，為提供當您首次使用或連結本服務時，APP
                必要之服務，亦會要求您提供或定位一組特定的位址作為您的住家地址，惟該等資訊仍存在您的使用裝置上，本團隊或第三人亦無從得知該資訊。</li>
              <li>
                嗣後當您在使用或連結本服務時可能會提供部分內容於您的使用裝置上，包括但不限於所在地點、體溫、身體症狀、照片、居家或社會活動、使用檔案及時間軌跡等資料，惟該等資料都由您完整、單獨地擁有從內容衍生出的全部權利。在未經您分享或公開以前，本團隊並不會取得該等資料，且並不會因為您使用或連結本服務即代表您賦予本團隊任何義務或因此取得您任何權利，除本條款或法規另有規定外，本團隊無權存取並對您所儲存之內容進行修改。
              </li>
              <li>
                您可以自行決定是否在服務中對特定人或全部人公開您建立的內容，但本團隊對您所公開對象之行為不負責。您可自行決定公開時所採取的授權規範，若您在公開時未提供任何授權規範，本授權條款則原則禁止任何使用者重製、散布、傳輸您的公開資料，亦不得修改其內容。此外，當您使用分享功能時，除您指定分享之對象外，為提供本服務之需要，本團隊也會因此取得該等資訊，惟該等資訊會在您分享後的
                72 個小時即自動刪除，包括但不限於您分享的連結及因該連結所存取與本團隊端之資料庫內。</li>
              <li>
                本團隊對於使用者的個人資料暨隱私權均給予最大程度的尊重，因此當使用者使用或連結本服務時，所有您提供的資訊、圖片或文字等內容，均儲存於您的使用裝置上，除非是您自行自願公開或本條款另有規定的情況及提供服務之必要範圍外，本團隊並不會存取任何否則我們不會也無法得知您使用或連結本服務時所提供的資訊。但請特別注意，在提供本服務任何個人隱私及個人資料。所謂「提供服務之必要範圍內，就」，係指當您連結或使用
                APP 時的所在地點或上傳照片所使用之圖片或文字檔的 Hash，
                會透過匿名的方式在區塊鏈上紀錄，惟請您放心，該等紀錄亦無法識別出您個人。此外，本服務並不會要求您綁定任何其他平台的帳號或資訊，包括但不限於使用裝置之硬體 ID、Google 帳號、Facebook 帳號或
                Twitter 帳號等。</li>
            </ol>
          </li>
          <li>
            （二）個人資料保護：您可能因連結或使用本服務而提供您個人或獲知他人於本服務所張貼或留存之個人資料，且當您提供您個人之資料或因此蒐集、處理、利用或國際傳輸他人之個人資料時，應遵守本條款之隱私權政策及相關法令之規定，包括但不限於個人資料保護法及中華民國刑法。為免爭議，當您使用本服務提供您個人資料或蒐集、處理、利用或國際傳輸他人個人資料前，請確保您同意或取得該個人資料使用者之同意。
          </li>
          <li>
            （三）智慧財產權：本服務所使用之軟體、程式及其中所有之內容，包括但不限於著作、圖片、檔案、資訊、（個人）資料、介面的安排、介面設計等，除使用者自行提供或本條款另有規定外，均由本團隊或所屬權利人擁有該智慧財產權及人格權。前述智慧財產權包括但不限於商標權、專利權、著作權、營業秘密與專有技術等。任何人不得未經同意，擅自使用、修改、破壞、更改、妨礙正常使用、重製、公開播送、改作、散布、出租、發行、公開傳輸、公開發表、進行還原工程、解編或反向組譯。尊重智慧財產權是您應盡的義務，如有違反，您應自負一切法律責任並應對本團隊負損害賠償責任。
          </li>
          <li>
            （四）使用者不從事違法行為之聲明保證：當您使用本服務時，應遵守中華民國法令之規定，您若是中華民國管轄領域以外之使用者，並應遵守所屬國家或地方之法令，您聲明並保證絕不為任何非法目的或以任何非法方式使用本服務，亦不得利用本服務侵害他人權益，包括但不限於專利權、著作權、商標權、隱私權或個人財產權，或從事違法或不當之行為，否則本服務有權立刻終止您使用本服務之權利。前述違法或不當之行為包括但不限於：
            <ol>
              <li>利用本服務進行、教唆、幫助、違反法令之行為，或發送、上傳、轉貼、分享或公布任何涉及誹謗、侮辱、詐欺、猥褻、色情、賭博、洗錢、金融犯罪或其他違反法令、公序良俗之文字、圖片或其他資料於本服務；</li>
              <li>刊登、傳送任何侵害他人智慧財產權（包括但不限於商標、著作、專利權、營業秘密等）、名譽、隱私權或其他權益之資訊；</li>
              <li>違反依法令或契約所應負之保密義務；</li>
              <li>未經授權下進入後台系統或是與系統有關之網路、或冒用他人帳號或偽造寄件人辨識資料傳送郵件；</li>
              <li>傳輸或散佈電腦病毒或其他足以破壞或干擾電腦系統或資料之程式或資訊；</li>
              <li>未經同意蒐集他人個人資料、追蹤他人或其他干擾他人或為基於非法目的而蒐集、處理或利用他人之個人資訊；</li>
              <li>偽造訊息來源或以任何方式干擾傳輸來源之認定；</li>
              <li>干擾或中斷本服務或伺服器或連結本服務之網路，或不遵守連結至本服務之相關需求、程序、政策或規則等；或</li>
              <li>其他本團隊有正當理由認為不適當之行為。</li>
            </ol>
          </li>
          <li>（五）使用者義務：
            <ol>
              <li>
                您使用或連結本服務所提供之資訊、圖片或文字，或您提供予本團隊之任何資訊、圖片或文字，均屬真實、正確且完整，並無任何重大隱匿或導致本團隊誤信或陷於錯誤之情事，若因而致他人受有損害，均由您自負責任，本團隊不負任何責任。
              </li>
              <li>
                您於本服務張貼或私下傳送之任何資訊、資料、文字、軟體、音樂、音訊、照片、圖形、視訊、信息或其他資料，均由您自負責任，本團隊不負任何責任。
              </li>
              <li>您利用本服務所為之任何行為，基於下列情形，本團隊得於合理範圍內，將其內容加以保存或揭露：
                <ol>
                  <li class="parenthesis">取得您的同意；</li>
                  <li class="parenthesis">基於法令之規定；</li>
                  <li class="parenthesis">為履行本條款之必要；</li>
                  <li class="parenthesis">為第三人行使司法訴訟權利，並提出相關佐證者；或</li>
                  <li class="parenthesis">其他為保護本服務、本團隊、其他使用者及公眾之權利、財產或安全之情形。</li>
                </ol>
              </li>
              <li>您經由本服務所自願揭露或公開之任何資訊，本團隊得保留刊登與否之權利，並有權在不通知您的情況下拒絕、修改或移除其內容；</li>
              <li>同一使用者不得於本服務註冊二個以上之帳號；</li>
              <li>同一帳號不可有二個以上之使用者；</li>
              <li>您同意不得以任何違反法律、命令之目的或未經合法授權而於本服務註冊 帳號或從事任何行為；或</li>
              <li>您同意不得上傳、張貼、傳輸、分享或儲存任何資料以致他人個人資料、隱私或他公司之機密資料外洩。</li>
            </ol>
          </li>
        </ul>

        <h6 class="ion-text-center header">二、拒絕或停止使用</h6>
        <ul class="zh">
          <li>（一）您同意您不會轉讓本服務之會員帳號予他人或供他人使用，且您於本服務會員帳號或帳號中內容之任何權利，於您死亡時即立刻終止，本服務將無繼續維持或保存您的帳號及帳號中內容之義務。</li>
          <li>
            （二）您瞭解並同意本服務得依其自行考量，因任何理由，包含但不限於一定期間內未使用本服務、依法院或政府機關命令、您自行請求、本服務無法繼續或本服務內容實質變更、無法預期的技術或安全因素或問題、您所為詐欺或違法行為、未依約支付費用（若有），或其他本團隊認為您已經違反本條款明文規定及目的，而終止您連結或使用本服務。此外，若您被終止使用本服務，本團隊對您或任何第三人均不承擔責任。
          </li>
          <li>（三）有下列情形之一者，本團隊得暫停或中斷本服務之全部或一部，且對使用者任何直接或間接之損害，均不負任何責任：
            <ol>
              <li>本服務相關軟硬體設備進行搬遷、更換、升級、保養或維修時；</li>
              <li>使用者有任何違反政府法令或本條款情形；</li>
              <li>天災、瘟疫或其他不可抗力所致之服務停止或中斷；或</li>
              <li>其他不可歸責於本團隊之事由所致之服務停止或中斷。</li>
            </ol>
          </li>
        </ul>

        <h6 class="ion-text-center header">三、免責聲明</h6>
        <p>您瞭解並同意以下規定：</p>
        <ul class="zh">
          <li>（一）您於使用本服務提供之服務或任何資訊前，應自行判斷、評估並自負風險，因本服務並非專業醫療判斷，因此當您有任何不適或懷疑有任何病狀時，請盡速尋求專業醫療協助，本服務不負任何醫療判斷及擔保責任；</li>
          <li>（二）本團隊擁有隨時更改、提升、中斷 APP
            各項功能或服務之權力，不需先行通知任何使用者及單位。或許將造成您使用上的不便、資料喪失、錯誤、遭人篡改或其他經濟上損失等情形。您應於使用本服務時自行採取防護措施。本團隊對於您因使用（或無法使用）本服務而造成的損害，不負任何賠償責任；
          </li>
          <li>（三）本團隊不保證 APP 與您的行動裝置完全相容；亦不保證 APP 沒有錯誤或缺陷；</li>
          <li>（四）您不得向本服務主張，經由本服務所取得之任何資料、服務或其他資訊，未符合您要求或期望或有任何瑕疵；</li>
          <li>（五）本團隊不擔保本服務不受干擾、及時提供、安全可靠或免於出錯；及</li>
          <li>（六）您自本服務或經由本服務所取得之資訊和建議，無論其為書面或口頭，均不構成本團隊之保證。</li>
        </ul>
        <h6 class="ion-text-center header">四、個資暨隱私權政策</h6>
        <p>
          本團隊尊重您的隱私權，並致力於對您的資料加以保密。您瞭解當您使用本服務時，即視為您同意本團隊得依本條款，於僅在提供服務之必要範圍內蒐集、處理及利用您的個人資料。在未經您許可的情形下，我們不會將您的個人資料提供予第三方做商業目的之用。本團體會遵守下列約定：
        </p>
        <ul class="zh">
          <li>
            （一）蒐集、處理或利用時之義務
            <ol>
              <li>
                本團體僅得於使用者以下指示之範圍內，蒐集、處理或利用個人資料
                <ol>
                  <li class="parenthesis">蒐集目的：本團隊為提供使用者因連結或使用本服務時所需之相關業務，蒐集、處理及利用您的個人資料。</li>
                  <li class="parenthesis">
                    蒐集個人資料之類別：本團隊可能會於您連結或使用本服務時及使用者個人資料頁面取得，包括但不限於所在地點、體溫、病症、照片、居家或社會活動、使用檔案及時間軌跡等個人資料，詳如 APP 操作介面。</li>
                  <li class="parenthesis">
                    期間、地區、對象與方式：本團隊將在維護公民數據隱私及符合個人資料保護法的前提下，協助使用者紀錄並管理自己的生活，以分擔政府管理資料的風險，也希望能夠透過公民主動參與，降低資料管理的人力成本，本團隊並不會針對個別使用者進行分析或挖掘其個人資料。在蒐集目的之存續期間或因執行本條款之服務業務所需保存期間內，除了受司法機關或其他具有法定權限之機構依法定程序要求之外，本團隊將謹慎依蒐集目的利用您的個人資料，進行各項相關業務，包括可能因服務提供所必要之各項聯繫與通知。惟利用地區可能不限於中華民國。
                  </li>
                </ol>
              </li>
              <li>本團體基於本條款蒐集、處理或利用使用者個人資料時，會符合個人資料保護法第 19 條及第 20 條等相關規定。</li>
              <li>本團體基於本條款蒐集、處理或利用使用者特種個人資料時，會遵守個人資料保護法等相關規定，並檢附符合個人資料保護法第 6 條第 1 項但書各款任一要件之說明，例如當事人自行公開或經當事人書面同意。</li>
              <li>
                本團體不會利用使用者所提供或因執行本條款所蒐集之個人資料及檔案，為自己或他人利益從事本條款目的範圍以外之行為，包括但不限於行銷或商業推銷等相關活動、連結比對本團體本身保有之資料再進行處理利用或以任何方式或方法交付予履行本條款無關之第三人。
              </li>
            </ol>
          </li>
          <li>
            （二）安全管理措施
            <p>
              本團隊會善盡保護使用者個人資料之責任。但因天災、事變或其他不可抗力以致您的個人資料被竊取、洩漏、竄改或遭其他侵害時，本團隊將立即調查並採
              取因應措施，以避免或降低損害範圍，待查明後會以電話、電子郵件或網站公告等方式，擇一通知，以確保您的權益。
            </p>
          </li>
          <li>
            （三）使用者就個人資料得行使之權利
            <ol>
              <li>
                您可依個人資料保護法第3條規定，就本團隊保有您的個人資料行使以下權利：
                <ol>
                  <li class="parenthesis">請求查詢或閱覽；</li>
                  <li class="parenthesis">請求製給複製本；</li>
                  <li class="parenthesis">請求補充或更正；</li>
                  <li class="parenthesis">請求停止蒐集、處理、利用或請求刪除，惟因本團隊執行業務所必須者，本團隊得不依請求為之。</li>
                </ol>
              </li>
              <li>
                若您欲執行上述權利或有任何建議，請依本條款提供之連絡方式與本團隊連繫。
              </li>
            </ol>
          </li>
        </ul>
        <h6 class="ion-text-center header">五、準據法與管轄法院</h6>
        <p>本條款之解釋與適用，以及與本條款有關之爭議，將依照中華民國法律規定，並以臺灣臺北地方法院為第一審管轄法院。</p>
        <h6 class="ion-text-center header">六、其他</h6>
        <ul class="zh">
          <li>
            （一）本團隊保留未來修改本條款的權利，修改時將公告於 APP，當您按下同意鍵繼續使用 APP 時，即視為您已同意本條款最新內容。
          </li>
          <li>（二）本條款所定之任何條款之全部或一部份無效時，不影響其他條款之效力。</li>
          <li>（三）本服務的任何聲明、條款如有未盡完善之處，將以最大誠意，依誠實信用、平等互惠原則，共商解決之道。</li>
          <p>若您的權益因連結或使用本服務受到不法侵害時，請將所遭受侵害之情形及您的聯絡方式，並附具真實陳述及相關證明，以電子郵件方式聯絡本團隊： <a
              href="mailto: taiwan@mydata.org">taiwan@mydata.org</a>。</p>
        </ul>
      </div>
      <div *ngIf="(language$ | async) !== 'zh'" class="terms-and-conditions ion-margin">
        <h5 class="ion-text-center header">Terms & Conditions</h5>
        <p>
          By downloading or using the app, these terms will automatically apply to you – you should make sure
          therefore that you
          read them carefully before using the app. You’re not allowed to copy, or modify the app, any part of the
          app, or our
          trademarks in any way. You’re not allowed to attempt to extract the source code of the app, and you also
          shouldn’t try
          to translate the app into other languages, or make derivative versions. The app itself, and all the trade
          marks,
          copyright, database rights and other intellectual property rights related to it, still belong to MyData
          Taiwan.
        </p>
        <p>
          MyData Taiwan is committed to ensuring that the app is as useful and efficient as possible. For that reason,
          we reserve
          the right to make changes to the app or to charge for its services, at any time and for any reason. We will
          never charge
          you for the app or its services without making it very clear to you exactly what you’re paying for.
        </p>
        <p>
          The MyLog app won’t store and process any personal data,all the data will store locally in your device.
          It’s your
          responsibility to keep your phone and access to the app secure.
        </p>
        <p>
          You should be aware that there are certain things that MyData Taiwan will not take responsibility for.
          Certain functions
          of the app will require the app to have an active internet connection. The connection can be Wi-Fi, or
          provided by your
          mobile network provider, but MyData Taiwan cannot take responsibility for the app not working at full
          functionality if
          you don’t have access to Wi-Fi, and you don’t have any of your data allowance left.
        </p>
        <p>
          If you’re using the app outside of an area with Wi-Fi, you should remember that your terms of the agreement
          with your
          mobile network provider will still apply. As a result, you may be charged by your mobile provider for the
          cost of data
          for the duration of the connection while accessing the app, or other third party charges. In using the app,
          you’re
          accepting responsibility for any such charges, including roaming data charges if you use the app outside of
          your home
          territory (i.e. region or country) without turning off data roaming. If you are not the bill payer for the
          device on
          which you’re using the app, please be aware that we assume that you have received permission from the bill
          payer for
          using the app.
        </p>
        <p>
          Along the same lines, MyData Taiwan cannot always take responsibility for the way you use the app i.e. You
          need to make
          sure that your device stays charged – if it runs out of battery and you can’t turn it on to avail the
          Service, MyData
          Taiwan cannot accept responsibility.
        </p>
        <p>
          With respect to MyData Taiwan’s responsibility for your use of the app, when you’re using the app, it’s
          important to
          bear in mind that although we endeavour to ensure that it is updated and correct at all times, we do rely on
          third
          parties to provide information to us so that we can make it available to you. MyData Taiwan accepts no
          liability for any
          loss, direct or indirect, you experience as a result of relying wholly on this functionality of the app.
        </p>
        <p>
          At some point, we may wish to update the app. The app is currently available on Android & iOS – the
          requirements for
          both systems(and for any additional systems we decide to extend the availability of the app to) may change,
          and you’ll
          need to download the updates if you want to keep using the app. MyData Taiwan does not promise that it will
          always
          update the app so that it is relevant to you and/or works with the Android & iOS version that you have
          installed on your
          device. However, you promise to always accept updates to the application when offered to you, We may also
          wish to stop
          providing the app, and may terminate use of it at any time without giving notice of termination to you.
          Unless we tell
          you otherwise, upon any termination, (a) the rights and licenses granted to you in these terms will end; (b)
          you must
          stop using the app, and (if needed) delete it from your device.
        </p>
        <h6>Changes to This Terms and Conditions</h6>







        <p>
          we may update our Terms and Conditions from time to time. Thus, you are advised to review this page
          periodically
          for any
          changes. we will notify you of any changes by posting the new Terms and Conditions on this page.

          These terms and conditions are effective as of 2020-05-06
        </p>
        <h6>Contact Us</h6>
        <p>
          If you have any questions or suggestions about our Terms and Conditions, do not hesitate to contact us at
        </p>
        <a href="mailto: taiwan@mydata.org">taiwan@mydata.org</a>.

        <h5 class="ion-text-center header">Privacy Policy</h5>

        <p>
          MyData Taiwan built the MyLog app as a Free app. This SERVICE is provided by MyData Taiwan at no cost and
          is intended
          for use as is.
        </p>

        <p>
          This page is used to inform visitors regarding our policies with the collection, use, and disclosure of
          Personal
          Information if anyone decided to use our Service.
        </p>
        <p>
          We respect your personal data, therefore, we will not collect or use any your personally identifiable. You
          have fully
          control and responsibility for all the data stored in your device. We will only get the information with
          your consent.
          The data you share with us will be deleted after 72 hours or deleted per user request.
        </p>
        <p>
          The terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, which is
          accessible at
          MyLog unless otherwise defined in this Privacy Policy.
        </p>
        <h6>Information Collection and Use</h6>
        <p>
          You own your data. In order to protect your privacy, while using our Service, we won’t require you to
          provide us with
          any certain personally identifiable information.
        </p>




        <p>
          Service Providers
        </p>
        <p>
          we may employ third-party companies and individuals due to the following reasons:
          To facilitate our Service;
          To provide the Service on our behalf;
          To perform Service-related services; or
          To assist us in analyzing how our Service is used.
          we want to inform users of this Service that these third parties have access to your Personal
          Information. The reason is to perform the tasks assigned to them on our behalf. However, they are
          obligated not to disclose or use the information for any other purpose.
        </p>

        <h6>Security</h6>
        <p>
          We value your trust in using our app to log your life activities, thus we are striving to use
          commercially
          acceptable
          means of protecting it. But remember that no method of transmission over the internet, or method of
          electronic storage
          is 100% secure and reliable, and we cannot guarantee its absolute security.
        </p>

        <h6>Links to Other Sites</h6>
        <p>
          This Service may contain links to other sites. If you click on a third-party link, you will be
          directed to
          that site.
          Note that these external sites are not operated by us. Therefore, we strongly advise you to review
          the
          Privacy Policy of
          these websites. we have no control over and assume no responsibility for the content, privacy
          policies, or
          practices of
          any third-party sites or services.
        </p>
        <h6>Children’s Privacy</h6>
        <p>
          These Services do not address anyone under the age of 13. we do not knowingly collect personally
          identifiable
          information from children under 13. In the case we discover that a child under 13 has provided us
          with
          personal
          information, we immediately delete this from our servers. If you are a parent or guardian and you
          are aware
          that your
          child has provided us with personal information, please contact us so that we will be able to do
          necessary
          actions.
        </p>
        <h6>Changes to This Privacy Policy</h6>
        <p>
          we may update our Privacy Policy from time to time. Thus, you are advised to review this page
          periodically
          for any
          changes. we will notify you of any changes by posting the new Privacy Policy on this page.
        </p>
        <p>
          This policy is effective as of 2020-05-18
        </p>
        <h6>Contact Us</h6>
        <p>
          If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
          <a href="mailto: taiwan@mydata.org">taiwan@mydata.org</a>.
        </p>
      </div>
    </ion-slide>
    <ion-slide>
      <form [formGroup]="onboardingForm" (ngSubmit)="onSubmit()">
        <ion-grid>
          <ion-row>
            <ion-col>
              <h1>{{ 'title.getStarted' | translate }}</h1>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">{{ 'title.email' | translate }}</ion-label>
                <ion-input formControlName="email" autocapitalize="on" autocomplete="on" clearInput inputmode="email"
                  type="email">
                </ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-checkbox formControlName="agreeTermsAndConditions" slot="start"></ion-checkbox>
                <ion-label>{{ 'title.agreeTheTermsAndConditions' |translate }}</ion-label>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button type="submit" [disabled]="!onboardingForm.valid || !confirmButtonEnabled">
                {{ 'title.confirm' | translate }}</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>