h1 {
    margin-bottom: 5px;
    color: #1e3c76;
    font: {
        family: "Trebuchet MS, PingFangTC-Medium, PingFang TC";
        size: 24px;
        weight: bold;
    }
}

p {
    margin: 0;
    color: #838383;
    font: {
        family: "Trebuchet MS, PingFangTC-Medium, PingFang TC";
        size: 12px;
        weight: 500;
    }
}

ion-slides {
    height: 100%;
}

.start-button {
    position: fixed;
    bottom: 3vh;
}

.text-container {
    width: 100%;
    position: fixed;
    bottom: 10vh;
}

.terms-and-conditions {
    overflow: scroll;
    height: 90%;
    font: {
        size: 12px;
        family: "Trebuchet MS";
    }
}
