<app-header [headerTitle]="'title.myData' | translate"></app-header>
<ion-content>
  <ion-card>
    <ion-list>
      <ng-container *ngIf="date$ | async as date">
        <app-daily-summary [date]="date"></app-daily-summary>
        <div class="border-line"></div>
        <div style=" display: flex;flex: 1;flex-direction:row-reverse;">
          <img (click)="toggle(1)" [src]="recordsIcons[selected]" />
          <img src="../../assets/ui/sort_2.svg" />
          <img (click)="toggle(0)" [src]="photosIcons[selected]" />
        </div>
        <app-daily-records *ngIf="selected === 0" [date]="date">
        </app-daily-records>
        <app-daily-photos *ngIf="selected === 1" [dayCount]="date"></app-daily-photos>
      </ng-container>
    </ion-list>
  </ion-card>
</ion-content>