ion-content {
    --background: #f8f8f8;
    height: 100%;

    ion-button {
        height: 40vw;
        --background: none;

        //   background-image: url('../../assets/ui/category_icon_D_L.svg');
        //   background-position: center center;
        //   background-repeat: no-repeat;
        //   background-size: cover;
    }

    ion-label {
        color: #000000;
    }
}
