<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <!-- {{ 'DIARY.title' | translate }} -->
      地點
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <!-- <ion-title class="ion-text-center">地點</ion-title> -->
  <!-- 25.060018,121.5307651 -->
  <!-- <img src="https://cdn.pixabay.com/photo/2011/12/13/17/07/earth-11047_1280.jpg"> -->
  <!-- <iframe  width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" scrolling="no" src="'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&z=16&output=embed&t=&q='+tempLocation"></iframe> -->
  <iframe  width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" scrolling="no" src='https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&z=16&output=embed&t=&q=25.035221,121.557612'></iframe>

  <!-- FIXME: category-location.page state & data 需要調整，目前缺少資料與分享功能-->
  <ion-item button (click)="isSelect=!isSelect" detail="false">
    <img src="../../assets/ui/add_icon_2.svg" />
    <ion-label>選擇要分享的資料</ion-label>
    <ion-label>{{isSelectlist.length}}</ion-label>
    <img (click)="showAlert('未完成')" src="../../assets/ui/add_icon_4.svg" />

    <!-- <img *ngIf="isSelect" (click)="isSelect=!isSelect" src="../../assets/ui/add_icon_2.svg" /> -->
  </ion-item>
  <ion-list>

    <div *ngFor="let ToDay of list">
      <ion-item detail="false">
        <div *ngIf="isSelect">
          <img *ngIf="!ToDay.isSelect" (click)="addSelect(ToDay)" src="../../assets/ui/add_icon_2.svg" />
          <img *ngIf="ToDay.isSelect" (click)="delSelect(ToDay)" src="../../assets/ui/add_icon_3.svg" />
        </div>

        <ion-label>{{ ToDay.date }}</ion-label>
        <ion-label class="ion-text-start">
          day {{ ToDay.day }}
        </ion-label>
        <div onclick="ToDay.isShow=!ToDay.isShow">
          <ion-icon name="caret-forward-outline" *ngIf="!ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow">
          </ion-icon>
        </div>
        <div onclick="ToDay.isShow=!ToDay.isShow">
          <ion-icon name="caret-down-outline" *ngIf="ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow">
          </ion-icon>
        </div>
      </ion-item>
      <ion-list *ngIf="ToDay.isShow">
        <ion-item *ngFor="let ToDayList of ToDay.location">
          <ion-label class="ion-text-center" color="dark">{{ToDayList.latitude}},{{ToDayList.longitude}}</ion-label>
          <ion-note slot="end">{{ ToDayList.time }}</ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>

  <ion-list>

    <div *ngFor="let ToDay of list">
      <ion-item button (click)="ToDay.isShow=!ToDay.isShow" detail="false">
        <img *ngIf="isSelect" (click)="isSelect=!isSelect" src="../../assets/ui/add_icon_2.svg" />
        <ion-label>{{ ToDay.date }}</ion-label>
        <ion-label class="ion-text-start">
          day {{ ToDay.day }}
        </ion-label>
        <ion-icon name="caret-forward-outline" *ngIf="!ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow">
        </ion-icon>
        <ion-icon name="caret-down-outline" *ngIf="ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow"></ion-icon>
      </ion-item>
      <ion-list *ngIf="ToDay.isShow">
        <ion-item *ngFor="let ToDayList of ToDay.location">
          <ion-label class="ion-text-center" color="dark">{{ToDayList.latitude}},{{ToDayList.longitude}}</ion-label>
          <ion-note slot="end">{{ ToDayList.time }}</ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>