ion-content {
  // --background: translucent;
  --background: #F8F8F8;
height: 100%;
}
ion-toolbar {
  color: #52c7f4;
  .ios {
    font-size: 16pt;
  }
  --backgroun: #ffffff;
  // --border-style	:;
  .header-md::after {
    display: none;
  }
  ion-button {
    // --box-shadow	:50px;
    --background: #ffffff;
    --background-focused: #000;
    height:50px ;
    // --background-focused-opacity: translucent;
    // margin: 20px;
    // --padding: 100px;
  }
}

ion-content {
  ion-button {
    height: 40vw;
    --background: none;
    
    //   background-image: url('../../assets/ui/category_icon_D_L.svg');
    //   background-position: center center;
    //   background-repeat: no-repeat;
    //   background-size: cover;
  }

  ion-label {
    color: #000000;
  }
}
