<app-header [headerTitle]="'title.redeemReward' | translate" showDismissButton="true" (dismissClicked)="cancel()">
</app-header>
<ion-content>
  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'title.keepRecordReward' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ 'description.rewardEvent' | translate: { day: 7, point: 20 } }}</ion-card-content>
      <ion-item>
        <ion-icon name="flash-outline" slot="start"></ion-icon>
        <ion-label  class="world">{{ 'title.canItBeRedeemed' | translate }}</ion-label></ion-item>
      <ion-item>
        <!-- <ion-icon name="flash-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.canItBeRedeemed' | translate }}</ion-label> -->
        <ng-container *ngIf="pool$ | async as pool; else poolLoading">
          <ion-text   class="world" [color]="(+pool >= 1) ? 'primary' : 'secondary'">
            {{ 'title.canRedeem' | translate: { pool: pool } }}</ion-text>
        </ng-container>
        <ng-template #poolLoading>
          <ion-spinner></ion-spinner>
        </ng-template>
      </ion-item>
    
      <ng-container *ngIf="daysRecorded$ | async as daysRecorded; else daysRecordedLoading">
        <ion-item>
          <ion-icon name="pencil-outline" slot="start"></ion-icon>
          <ion-label  class="world" >{{ 'title.daysRecorded' | translate }}</ion-label>
          <ion-text   class="world" [color]="(daysRecorded >= 7) ? 'primary' : 'secondary'">
            {{ daysRecorded$ | async }} / 7
          </ion-text>
        </ion-item>
      </ng-container>
      <ng-template #daysRecordedLoading>
        <ion-spinner></ion-spinner>
      </ng-template>
      <ng-container *ngIf="initRewardStatus$ | async as initReward; else initRewardLoading">
        <ion-item *ngIf="initReward === 'pending'" class="ion-text-center">
          <ion-icon name="calendar-outline" color="secondary" slot="start"></ion-icon>
          <ion-label class="world" color="secondary" *ngIf="daysRecorded$ | async as daysRecorded">
            {{ 'description.logMoreDaysForReward' | translate: { days: 7 - daysRecorded } }}</ion-label>
        </ion-item>
        <app-ion-center-item  class="world"  *ngIf="initReward === 'available'" button (click)="getInitialReward()">
          <ion-button fill="outline">{{ 'description.clickToGetInitialBalance' | translate: { point: 20 } }}
          </ion-button>
        </app-ion-center-item>
        <ion-item *ngIf="initReward === 'done'" class="ion-text-center">
          <ion-icon class="world"  name="checkmark-outline" color="success" slot="start"></ion-icon>
          <ion-label color="success">{{ 'description.alreadyGotInitialBalance' | translate: { point: 20 } }}
          </ion-label>
        </ion-item>
      </ng-container>
      <ng-template #initRewardLoading>
        <app-ion-center-item>
          <ion-spinner></ion-spinner>
        </app-ion-center-item>
      </ng-template>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ 'title.redeemInfo' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>{{ 'description.redeemInfo' | translate: { point: 20 } }}</ion-card-content>
      <ion-item (click)="onViewShopClicked()" button>
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.shopInfo' | translate }}</ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="card-outline" slot="start"></ion-icon>
        <ion-label>{{ 'title.currentBalance' | translate }}</ion-label>
        <ng-container *ngIf="userBalance$ | async as userBalance; else userBalanceLoading">
          <ion-text [color]="(userBalance >= 20) ? 'primary' : 'secondary'">
            {{ userBalance$ | async }}</ion-text>
        </ng-container>
        <ng-template #userBalanceLoading>
          <ion-spinner></ion-spinner>
        </ng-template>
      </ion-item>
    </ion-card>
  </ion-list>
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-button size="large" [color]="(canRedeem$ | async) ? 'primary' : 'light'" class="redeem-button"
        [disabled]="!(canRedeem$ | async)" (click)="scan()">
        <ion-icon name="qr-code-outline" size="large" slot="start"></ion-icon>
        <ion-label>{{ 'title.redeem' | translate }}</ion-label>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>