<app-header [headerTitle]="'title.redeemReward' | translate" showDismissButton="true" (dismissClicked)="cancel()">
</app-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="pencil-outline" slot="start"></ion-icon>
      <ion-label>{{ 'title.daysRecorded' | translate }}</ion-label>
      <ng-container *ngIf="daysRecorded$ | async as daysRecorded; else daysRecordedLoading">
        <ion-text [color]="(daysRecorded >= 7) ? 'primary' : 'secondary'">
          {{ daysRecorded$ | async }}</ion-text>
      </ng-container>
      <ng-template #daysRecordedLoading>
        <ion-spinner></ion-spinner>
      </ng-template>
    </ion-item>
    <ion-item>
      <ion-icon name="flash-outline" slot="start"></ion-icon>
      <ion-label>{{ 'title.canItBeRedeemed' | translate }}</ion-label>
      <ng-container *ngIf="poolBalance$ | async as poolBalance; else poolBalanceLoading">
        <ion-text [color]="(poolBalance >= 20) ? 'primary' : 'secondary'">
          {{ 'title.canRedeem' | translate }}</ion-text>
      </ng-container>
      <ng-template #poolBalanceLoading>
        <ion-spinner></ion-spinner>
      </ng-template>
    </ion-item>
    <ion-item>
      <ion-icon name="card-outline" slot="start"></ion-icon>
      <ion-label>{{ 'title.currentBalance' | translate }}</ion-label>
      <ng-container *ngIf="userBalance$ | async as userBalance; else userBalanceLoading">
        <ion-text [color]="(userbalance >= 20) ? 'primary' : 'secondary'">
          {{ userBalance$ | async }}</ion-text>
      </ng-container>
      <ng-template #userBalanceLoading>
        <ion-spinner></ion-spinner>
      </ng-template>
    </ion-item>
    <ng-container *ngIf="daysRecorded$ | async as daysRecorded">
      <ion-item *ngIf="false" class="ion-text-center">
        <ion-label>{{ 'description.logMoreDaysForReward' | translate: { days: 14 - daysRecorded } }}</ion-label>
      </ion-item>
    </ng-container>
  </ion-list>
  <ng-container *ngIf="redeemStatus$ | async as redeemStatus">
    <app-qr-scanner *ngIf="redeemStatus === 'valid'" [scanEnabled]="scanEnabled$ | async"
      (scanResult)="scanResultHandler($event)"></app-qr-scanner>
  </ng-container>
  <ng-template #loading>
    <div class="ion-justify-content-between">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </ng-template>
</ion-content>