.redeem-button {
    width: 90%;
}

.world {
    white-space: normal;
    word-break: break-all !important;
    word-wrap: break-word !important;
}
ion-button{
    width: 100%;
    --padding-end	: 0;
--padding-start	: 0;
height: 95px;
margin: 0;
white-space: normal;
word-break: break-all !important;
word-wrap: break-word !important;
}