<ion-header>
    <ion-toolbar color="primary">
        <ion-title class="ion-text-center">
            <!-- {{ 'DIARY.title' | translate }} -->
            症狀
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!-- <ion-title class="ion-text-center">症狀</ion-title> -->
    <ion-item button (click)="isSelect=!isSelect" detail="false">
        <img src="../../assets/ui/add_icon_2.svg" />
        <ion-label>選擇要分享的資料</ion-label>
        <ion-label>{{isSelectlist.length}}</ion-label>
        <img (click)="showAlert('未完成')" src="../../assets/ui/add_icon_4.svg" />
    
        <!-- <img *ngIf="isSelect" (click)="isSelect=!isSelect" src="../../assets/ui/add_icon_2.svg" /> -->
      </ion-item>
      <ion-list>
    
        <div *ngFor="let ToDay of list">
          <ion-item detail="false">
            <div *ngIf="isSelect">
              <img *ngIf="!ToDay.isSelect" (click)="addSelect(ToDay)" src="../../assets/ui/add_icon_2.svg" />
              <img *ngIf="ToDay.isSelect" (click)="delSelect(ToDay)" src="../../assets/ui/add_icon_3.svg" />
            </div>
    
            <ion-label>{{ ToDay.date }}</ion-label>
            <ion-label class="ion-text-start">
              day {{ ToDay.day }}
            </ion-label>
            <div onclick="ToDay.isShow=!ToDay.isShow">
              <ion-icon name="caret-forward-outline" *ngIf="!ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow">
              </ion-icon>
            </div>
            <div onclick="ToDay.isShow=!ToDay.isShow">
              <ion-icon name="caret-down-outline" *ngIf="ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow">
              </ion-icon>
            </div>
          </ion-item>
          <ion-list *ngIf="ToDay.isShow" class="ion-align-items-center">
            <ion-item *ngFor="let symptomList of ToDay.symptom">
                <!-- 咳嗽 咳得蠻大力的 流鼻水 用掉半包衛生紙ＱＱ 有點嗅覺失靈  -->
              <ion-label class="ion-text-center" color="dark">{{symptomList.type}}</ion-label>
              <ion-label class="testclass" color="dark">{{symptomList.detail}}</ion-label>
              <ion-note slot="end">{{ symptomList.time }}</ion-note>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    
</ion-content>