ion-button {
        --background: none;
        color: #555555; 

        background-color: rgb(255, 255, 255) !important;
        background-color: #555555;
        border-width: 5px;
        //   background-image: url('../../assets/ui/category_icon_D_L.svg');
        //   background-position: center center;
        //   background-repeat: no-repeat;
        //   background-size: cover;
    }