.scrollable {
    overflow: scroll;
    height: 90%;
    font: {
        size: 12px;
        family: "Trebuchet MS";
    }
}

.header {
    font: {
        weight: bold;
    }
}

.sub-header {
    color: var(--ion-color-primary);
    font: {
        weight: bold;
    }
}

ol {
    counter-reset: num 0;
    margin-left: 10px;
    padding-left: 10px;
}

ul.zh {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

li {
    .parenthesis {
        list-style-type: none;
        &:before {
            counter-increment: num 1;
            content: "(" counter(num, decimal) ") ";
        }
    }
}
