<<<<<<< Updated upstream:src/app/daily/daily-detail/daily-detail-photos/daily-detail-photos.component.scss
ion-thumbnail {
        width: 22vw;
        height:25.5vw ;
        

     }
:root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
      ion-img{
              width: 22vw;
              height:22vw ;
        //       --padding: 10px;
        //       --padding-start: 10px;
        //       --padding-bottom: 10px;
        //       --margin-left:10px;
        //       --margin:10px;
      }
=======
:root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
}
>>>>>>> Stashed changes:src/app/date-detail-picture/date-detail-picture.page.scss
