<ion-content>
  <ion-row>
    <ion-col text-center>{{ 'title.areYouSure' | translate }}</ion-col>
  </ion-row>
  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <ion-row style="height: 40vw;">
    <ion-col>

      <div style="display: flex;flex-direction: column;height: 40vw;">
        <img [src]="'data:image/jpeg;base64,' + photo.byteString | safeUrl" style="height: 39vw;" />
      </div>

    </ion-col>
    <ion-col>
      <div style="display: flex; flex-direction:column;">
        <ion-label style="font-size: large;" class=".ion-text-center">
          {{ photo.timestamp | date: 'yyyy-MM-dd' }}
        </ion-label>
        <ion-label style="font-size: large;" class=".ion-text-center">
          {{ photo.timestamp | date: 'HH:mm:ss' }}
        </ion-label>
        <ion-label style="font-size: large;" class=".ion-text-center">
          {{ address$ | async }}
        </ion-label>
      </div>

    </ion-col>

  </ion-row>
  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <ion-row>
    <ion-button (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
    <ion-button (click)="confirm()">{{ 'title.confirm' | translate }}</ion-button>
  </ion-row>
</ion-content>