img{
        padding-right: 10px;
}

ion-icon{
        font-size: 32px;

}
ion-header ion-toolbar ion-title {

                
                        .android{

                                padding-left: 50vw;    

                        }
                        .ios{


                        }
       
}
  
