<ion-header>
    <ion-toolbar color="primary" >
        <ion-title class="ion-text-center">
            <!-- {{ 'DIARY.title' | translate }} -->
            體溫
        </ion-title>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline">
            </ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
<!-- <ion-title class="ion-text-center">體溫</ion-title> -->
<!-- <img src="https://cdn.pixabay.com/photo/2017/12/22/08/01/graph-3033203_1280.jpg"> -->
<!-- <canvas #myCanvas width="100" height="90"></canvas> -->
<!-- <canvas #myCanvas width="100" height="90" id="canvas">{ this.chart }</canvas> -->
<canvas #barChart></canvas>
<ion-item button (click)="isSelect=!isSelect" detail="false">
    <img src="../../assets/ui/add_icon_2.svg" />
    <ion-label>選擇要分享的資料</ion-label>
    <ion-label>{{isSelectlist.length}}</ion-label>
    <img (click)="showAlert('未完成')" src="../../assets/ui/add_icon_4.svg" />

    <!-- <img *ngIf="isSelect" (click)="isSelect=!isSelect" src="../../assets/ui/add_icon_2.svg" /> -->
  </ion-item>
  <ion-list>

    <div *ngFor="let ToDay of list">
      <ion-item detail="false"  >
        <div *ngIf="isSelect">
          <img *ngIf="!ToDay.isSelect" (click)="addSelect(ToDay)" src="../../assets/ui/add_icon_2.svg" />
          <img *ngIf="ToDay.isSelect" (click)="delSelect(ToDay)" src="../../assets/ui/add_icon_3.svg" />
        </div>

        <ion-label>{{ ToDay.date }}</ion-label>
        <ion-label class="ion-text-start">
          day {{ ToDay.day }}
        </ion-label>
        <div >
          <!-- <ion-icon name="caret-forward-outline" *ngIf="!ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow"> -->
            <ion-icon name="caret-forward-outline" *ngIf="!ToDay.isShow" button (click)="ChangeShow_push(ToDay)">
          </ion-icon>
        </div>
        <div >
          <ion-icon name="caret-down-outline" *ngIf="ToDay.isShow" button (click)="ChangeShow_pop(ToDay)">
<!-- 加入選擇器 -->

          </ion-icon>
        </div>
      </ion-item>
      <ion-list *ngIf="ToDay.isShow">
        <ion-item *ngFor="let BT of ToDay.temperatureList">
          <ion-label slot="start" class="ion-text-center" color="dark">{{BT.temperature}}°C</ion-label>
          <ion-note slot="end">{{ BT.time }}</ion-note>
        </ion-item>
      </ion-list>
    </div>
  </ion-list>
</ion-content>
