<ion-content>
  <ng-container *ngIf="email$ | async"></ng-container>
  <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-item lines="none">
        <ion-text>
          <h4>{{ 'title.editEmail' | translate }}</h4>
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="floating">{{ 'title.email' | translate }}</ion-label>
        <ion-input formControlName="email" autocapitalize="on" autocomplete="on" clearInput inputmode="email"
          type="email">
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-button type="submit" [disabled]="!emailForm.valid" fill="clear" class="ion-float-right">
      {{ 'title.confirm' | translate }}</ion-button>
    <ion-button (click)="onCancel()" fill="clear" class="ion-float-right">
      {{ 'title.cancel' | translate }}
    </ion-button>
  </form>
</ion-content>