<ion-list>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.cough' | translate:params }}</ion-label>
    <ion-toggle [(ngModel)]="cough"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.runnyNose' | translate:params }}</ion-label>
    <ion-toggle [(ngModel)]="runnyNose"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.headache' | translate:params }}</ion-label>
    <ion-toggle [(ngModel)]="headache"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.headache' | translate:params }}</ion-label>
    <ion-toggle [(ngModel)]="headache"></ion-toggle>
  </ion-item>
</ion-list>