<ion-list>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.cough' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="cough"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.fever' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="fever"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.runnyNose' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="runnyNose"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label>{{ 'SYMPTOM.stuffyNose' | translate }}</ion-label>
    <ion-toggle [(ngModel)]="stuffyNose"></ion-toggle>
  </ion-item>
</ion-list>