// ion-content ion-toolbar ion-grid  ion-row ion-col{
//         // --background: translucent;
//         background-color: green($color: #23F323);
//       }
ion-tab-button{
        font-size: 10px;
        --background: translucent;
        // --background-focused: #a0a;
        // --color-selected: #a0a;
        --padding-end: 0px;
        --padding-start: 10px;
        --padding-bottom: 0px;
        --margin-left:0px;
        --margin-right:0px;
        max-width:50px;
    
}
        .ios.platform-mobile ion-menu.menu-enabled, .ios.platform-mobile ion-menu.menu-enabled, .ios.platform-mobile ion-modal.show-page {
          margin-top: constant(safe-area-inset-top); // for ios 11.1
          margin-top: env(safe-area-inset-top); // for ios 11.2 and onwards
          margin-bottom: env(safe-area-inset-bottom);
          height: calc(100% - constant(safe-area-inset-top));
          height: calc(100% - env(safe-area-inset-top) - env(safe-area-inset-bottom));
      }

      ion-button{
        --background: translucent;
// border-color: blue($color: #A298fa);
// border-width: 5px;
--box-shadow	:0;
--border-radius	: 50%;
              height: 100px;
      }
      
