.upload-button {
    width: 95%;
}

.paperclip {
    height: 40px;
    width: 15%;
    background-color: #eef0f0;
    border-style: solid;
    border-width: 1px 0.5px 1px 1px;
    border-color: #838383;
    display: flex;
    div {
        margin: auto;
    }
}

.link {
    height: 40px;
    width: 80%;
    background-color: #eef0f0;
    border-style: solid;
    border-width: 1px 1px 1px 0.5px;
    border-color: #838383;
    display: flex;
    padding: 1px;
    input {
        width: 95%;
        margin: auto;
        background-color: #eef0f0;
        border: none;
        font-size: 4vw;
        overflow-x: hidden;
    }
}
