<app-header [headerTitle]="'title.shareData' | translate"></app-header>

<ion-content>
    <ion-list>
        <ion-item *ngIf="uploadStatus$ | async as uploadStatus">
            <ion-grid>
                <ion-row>
                    <ion-progress-bar color="primary" [value]="uploadStatus.done / uploadStatus.total">
                    </ion-progress-bar>
                </ion-row>
                <ion-row>
                    <ion-text class=ion-text-center>
                        {{ uploadStatus.done }} / {{ uploadStatus.total }}
                    </ion-text>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item *ngFor="let link of sharedLinks$ | async" button>
            <ion-grid>
                <ion-row>
                    <ion-note>
                        {{ 'title.expireAt' | translate: { time: link.expireTime | date: 'yyyy-MM-ddTHH:mm:ssz' } }}
                    </ion-note>
                </ion-row>
                <ion-row class="ion-justify-content-center">
                    <div class="link">
                        <input type="text" readonly [value]="link.uid">
                    </div>
                    <div class="paperclip" (click)="onCopyClicked(link.url)">
                        <div>
                            <img src="../../../assets/ui/link.svg">
                        </div>
                    </div>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row class="ion-justify-content-center">
            <ion-button class="upload-button" (click)="onUploadButtonClicked()" fill="solid" size="large">
                {{ 'title.uploadAndCreateSharedLink' | translate }}
            </ion-button>
        </ion-row>
    </ion-grid>

</ion-footer>