<!-- FIXME: The grid layout should be vertically align to center and should have taller height -->
<!-- 
<ion-header>
  

  <ion-toolbar color="primary">
    <ion-title slot="secondary">
     MyLog14
    </ion-title>  
    <ion-tab-button slot="end" tab="tab-category">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label class=".ion-text-center" >About</ion-label>
    </ion-tab-button>
  </ion-toolbar>
  </ion-header> -->
<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/bt-detail']" routerDirection="forward">體溫</ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/symptom-detail']" routerDirection="forward">症狀</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col size="6">
        <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/location-detail']" routerDirection="forward">地點</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/location-detail']" routerDirection="forward">未分類</ion-button>
      </ion-col>
    </ion-row>
</ion-grid>