<!-- FIXME: The grid layout should be vertically align to center and should have taller height -->

<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/bt-detail']" routerDirection="forward">
        <div style="display: flex;flex-direction: column;">
          <img src="../../assets/ui/category_icon_T_L.svg" />
          <ion-label class=".ion-text-center">體溫</ion-label>
          <ion-label class=".ion-text-center">3筆記錄</ion-label>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/symptom-detail']"
        routerDirection="forward">
        <div style="display: flex;flex-direction: column;">
          <img src="../../assets/ui/category_icon_T_R.svg" />
          <ion-label class=".ion-text-center">症狀</ion-label>
          <ion-label class=".ion-text-center">3筆記錄</ion-label>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="DL" size="6">
      <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/location-detail']"
        routerDirection="forward">
        <div style="display: flex;flex-direction: column;">
          <img src="../../assets/ui/category_icon_D_L.svg" />
          <ion-label class=".ion-text-center">地點</ion-label>
          <ion-label class=".ion-text-center">3筆記錄</ion-label>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="full" size="large" [routerLink]="['/tabs/tab-category/location-detail']"
        routerDirection="forward">
        <div style="display: flex;flex-direction: column;">
          <img src="../../assets/ui/category_icon_D_R.svg" />

          <ion-label class=".ion-text-center">未分類</ion-label>
          <ion-label class=".ion-text-center">3筆記錄</ion-label>
        </div>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>