ion-button{
        width: 100%;
        --padding-end	: 0;
--padding-start	: 0;
height: 35px;
margin: 0;

}
.L{
        margin: 0 !important;
        --padding-top	: 0!important;
        --padding-button	: 0!important;
        word-break: break-all!important;

}