<app-header [headerTitle]="'title.addPhotoTitle' | translate" showDismissButton="true"
  (dismissClicked)="onCancelClicked()">
</app-header>
<ion-content *ngIf="templateName$ | async as templateName">
  <ion-list *ngIf="fields$ | async as fields">
    <app-proof-item [status]="proofStatus"></app-proof-item>
    <ng-container *ngFor="let field of fields">
      <img *ngIf="field.type === 'photo' && field.value" [src]="'data:image/jpeg;base64,' + field.value">
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col size="4">
        <ion-button size="large" fill="outline" (click)="onCancelClicked()">{{ 'title.cancel' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="large" fill="outline" (click)="onRetakeClicked()">{{ 'title.retakePhoto' | translate }}
        </ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button size="large" (click)="onConfirmClicked()">{{ 'title.confirm' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>