<app-header [headerTitle]="'title.addPhotoTitle' | translate" showDismissButton="true" (dismissClicked)="cancel()">
</app-header>
<ion-content *ngIf="record$ | async as record">
  <app-proof-item [status]="proofStatus"></app-proof-item>
  <ng-container *ngFor="let field of record.fields">
    <img *ngIf="field.type === 'photo' && field.value" [src]="'data:image/jpeg;base64,' + field.value">
  </ng-container>
</ion-content>
<ion-footer>
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col >
        <ion-button size="large" fill="outline" (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
      </ion-col>
   
      <ion-col >
        <ion-button class="L" size="large" fill="outline" (click)="takePhoto()">{{ 'title.retakePhoto' | translate }}</ion-button>
      </ion-col>
    </ion-row>
      <ion-button  size="large" (click)="confirm()">{{ 'title.confirm' | translate }}</ion-button>
  </ion-grid>
</ion-footer>