<ion-list style="width:100%;height:300px;overflow:scroll;"a>
  <div *ngFor="let recordRow of dailyDetail.recordRows">
    <ion-item detail="false">
      <ion-label>{{ recordRow.time }}</ion-label>
      <ion-label class="ion-text-start">
        {{ recordRow.bt }}
      </ion-label>
      <div>
        <!-- <ion-icon name="caret-forward-outline" *ngIf="!ToDay.isShow" button (click)="ToDay.isShow=!ToDay.isShow"> -->
        <ion-icon name="caret-forward-outline" *ngIf="!recordRow.expand" button (click)="recordRow.expand=!recordRow.expand;">
        </ion-icon>
      </div>
      <div>
        <ion-icon name="caret-down-outline" *ngIf="recordRow.expand" button (click)="recordRow.expand=!recordRow.expand;">
          <!-- 加入選擇器 -->

        </ion-icon>
      </div>
    </ion-item>
    <ion-list *ngIf="recordRow.expand">
      <ion-item>
        <img *ngIf="recordRow.symptoms.coughing" src="../../assets/ui/today_icon_a.svg" />
        <ion-label *ngIf="recordRow.symptoms.coughing" class="ion-text-center" style="color: #F9AD35;">{{mockCoughDetail}}
        </ion-label>
        <img *ngIf="!recordRow.symptoms.coughing" src="../../assets/ui/today_icon_a_d.svg" />
        <ion-label *ngIf="!recordRow.symptoms.coughing" class="ion-text-center" style="color: #D6D6D6;">沒有症狀</ion-label>
      </ion-item>
      <ion-item>
        <img *ngIf="recordRow.symptoms.fever" src="../../assets/ui/today_icon_b.svg" />
        <ion-label *ngIf="recordRow.symptoms.fever" class="ion-text-center" style="color: #F9AD35;">{{mockFeverDetail}}
        </ion-label>
        <img *ngIf="!recordRow.symptoms.fever" src="../../assets/ui/today_icon_b_d.svg" />
        <ion-label *ngIf="!recordRow.symptoms.fever" class="ion-text-center" style="color: #D6D6D6;">沒有症狀</ion-label>
      </ion-item>
      <ion-item>
        <img *ngIf="recordRow.symptoms.runnyNose" src="../../assets/ui/today_icon_c.svg" />
        <ion-label *ngIf="recordRow.symptoms.runnyNose" class="ion-text-center" style="color: #F9AD35;">
          {{mockRunnyNoseDetail}}</ion-label>
        <img *ngIf="!recordRow.symptoms.runnyNose" src="../../assets/ui/today_icon_c_d.svg" />
        <ion-label *ngIf="!recordRow.symptoms.runnyNose" class="ion-text-center" style="color: #D6D6D6;">沒有症狀</ion-label>
      </ion-item>
      <ion-item>
        <img *ngIf="recordRow.symptoms.stuffyNose" src="../../assets/ui/today_icon_d.svg" />
        <ion-label *ngIf="recordRow.symptoms.stuffyNose" class="ion-text-center" style="color: #F9AD35;">
          {{mockStuffyNoseDetail}}</ion-label>
        <img *ngIf="!recordRow.symptoms.stuffyNose" src="../../assets/ui/today_icon_d_d.svg" />
        <ion-label *ngIf="!recordRow.symptoms.stuffyNose" class="ion-text-center" style="color: #D6D6D6;">沒有症狀</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-list>