<ion-list style="width:100%;height:50%;overflow:scroll;padding-bottom: 90px;">
  <div>
    <ion-item detail="false">
      <ion-label>Time</ion-label>
      <ion-label class="ion-text-start">
        body Temperature
      </ion-label>
      <div>
        <ion-icon name="caret-forward-outline" *ngIf="isTrue" button>
        </ion-icon>
      </div>
      <div>
        <ion-icon name="caret-down-outline" *ngIf="!isTrue" button>
        </ion-icon>
      </div>
    </ion-item>
    <ion-list *ngIf="isTrue">

      <ion-item>
        <ion-label style="color: #F9AD35;">
          Symptom name</ion-label>
        <ion-label class="ion-text-center" style="color: #F9AD35;">
          Symptom note
        </ion-label>
      </ion-item>

      <ion-item *ngIf="isTrue">
        <ion-label style="color: #D6D6D6;">No symptom</ion-label>
        <ion-label class="ion-text-center" style="color: #D6D6D6;">No note</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-list>