<app-main-header headerTitle="MyLog14"></app-main-header>

<ion-content class="ion-text-center">

  <ion-grid>
    <ion-row align-items-center justify-content-start>
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
      <ion-col>
        <ion-title class="ion-text-center">tab-taiwan</ion-title>

      </ion-col>
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
    </ion-row>




    <ion-row align-items-center justify-content-start>
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
      <ion-col>
        <div class="TA-AE" style="height: 80vw;width: 80vw;     position: relative;         ">
          <!-- <img src="../../assets/ui/Taiwan_AE.svg" /> -->
          <ng-lottie [options]="optionsBG" (animationCreated)="animationCreated($event)"></ng-lottie>
          <ng-lottie style="position: absolute; 
          z-index: 100; 
          /* background: red;  */
          top:0; left:0; 
          width:100%; height:100%; " [options]="options"    (loopComplete)="stop()"
          
 (animationCreated)="animationCreated($event)"></ng-lottie>

        </div>
      </ion-col>
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
    </ion-row>



    <ion-row align-items-center justify-content-start>
      <ion-col>
        <ion-label> </ion-label>
      </ion-col>
      <ion-col >
        <!-- <button (click)="stop()">Stop
          <ion-icon slot="start" src="../assets/ui/tw_icon_L.svg"></ion-icon>
        </button>
        <button (click)="play()">Play
          <ion-icon slot="end" src="../../assets/ui/tw_icon_R.svg"></ion-icon>
        </button> -->
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <div [ngStyle]="bgStyle" item-left>
  <img src="../../assets/ui/Taiwan_AE.svg" />
</div> -->
<!-- 
<div style="z-index:-1;
width:200px;
height:200px;
background:#66FFFF;
position:absolute;
top:0;
left:0;" item-left>
  <img src="../../assets/ui/Taiwan_AE.svg" />
</div>
 -->
<div style="position:absolute;z-index: 100;; top:50%; width:100%; background-color:rgba(255, 255, 255, 0); ">

  <div
    style=" width:100%; background-color:rgba(255, 255, 255, 0);display: flex;flex-direction: row; align-items: center;">
    <div style="flex: 1;"></div>
    <ion-button (click)="play()" style="flex: 1; background-color:rgba(255, 255, 255, 0);" col-3>
      <img src="../../assets/ui/rain_icon .svg" />
    </ion-button>
    <ion-button  (click)="stop()" style="flex: 1;background-color:rgba(255, 255, 255, 0);" col-3>
      <img src="../../assets/ui/tw_icon_R.svg" />
    </ion-button>
    <div style="flex: 1;"></div>

  </div>


</div>