// ion-content ion-toolbar ion-grid  ion-row ion-col{
//         // --background: translucent;
//         background-color: green($color: #23F323);
//       }
ion-button {
  --background: translucent;
  // border-color: blue($color: #A298fa);
  // border-width: 5px;
  --box-shadow: 0;
  --border-radius: 50%;
  height: 100px;
}
