<ion-content>
  <ion-grid>
    <div class="message-box">
      <img *ngIf="icon" [src]='iconPath' />
      <h4>{{ i18nTitle | translate }}</h4>
      <div class="message-content">
        <h6>{{ i18nMessage | translate }}</h6>
      </div>
    </div>
    <div class="form-box ion-justify-content-between" *ngIf="formFields && formModel">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <formly-form [form]="form" [fields]="formFields" [model]="formModel" [options]="options"></formly-form>
        <ion-button type="submit" [disabled]="!form.valid" class="ion-float-right">
          {{ 'title.confirm' | translate }}
        </ion-button>
        <ion-button (click)="cancel()" fill="clear" class="ion-float-right">
          {{ 'title.cancel' | translate }}
        </ion-button>
      </form>
    </div>
    <div>
      <h6>{{ i18nExtraMessage | translate }}</h6>
      <ion-row *ngIf="buttonSet === 'confirm'" class="ion-justify-content-between">
        <ion-button (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
        <ion-button (click)="confirm()">{{ 'title.confirm' | translate }}</ion-button>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>