ion-content {
    justify-items: center;
    margin-top: 50vh;
    padding: 10px;
}
ion-button{
    width: 100%;
    --padding-end	: 0;
--padding-start	: 0;
height: 95px;
margin: 0;
white-space: normal;
word-break: break-all !important;
word-wrap: break-word !important;
}
ion-grid {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-items: center;
}

img {
    width: 75px;
    height: 75px;
    margin-top: 10%;
    margin-bottom: 10%;
}

.message-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    .message-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
