<ion-card>
  <ion-card-header>
    <ion-card-title>2020 年 3 月 21 日 星期六</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <ion-item class="ion-text-center">
              <ion-label>早上</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-item class="ion-text-center">
                <ion-label>中午</ion-label>
            </ion-item>
        </ion-col>
        <ion-col size="4">
            <ion-item class="ion-text-center">
                <ion-label>晚上</ion-label>
            </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
            37.1 °C
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
            36.7 °C
          </ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
            36.2 °C
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col size="4">
            <ion-item class="ion-text-center">
              <ion-label>照片</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item class="ion-text-center">
              <ion-label>照片</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-item class="ion-text-center">
              <ion-label>照片</ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>