<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-button *ngIf="showBackButton" (click)="onBackButtonClick()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-button *ngIf="showDismissButton" (click)="onDismissButtonClick()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>  
    <ion-title text-center slot="secondary">
      {{ headerTitle }}
    </ion-title>
    <div slot="end" style="width: 15%;"></div>
  </ion-toolbar>
</ion-header>