ion-toolbar {
  color: #8EC3C3;
  --background: #ffffff;
  .header-md::after {
    display: none;
  }
  ion-button {
    height: 50px;
  }
  ion-title {
    font-size: 22pt;
    font-weight: 700;
  }
}
