ion-toolbar {
  color: #52c7f4;
  // height: 50px;
  --background: #ffffff;
  .header-md::after {
    display: none;
  }
  ion-button {
    height: 50px;
  }
  ion-title {
    font-size: 22pt;
    font-weight: 700;
  }
}
