<ng-container *ngIf="dailySummary$ | async as dailySummary">
  <div style="display: flex;flex: 1;flex-direction: row;padding: 2vh; ">
    <div style="display: flex;flex: 1;flex-direction: column; justify-self:center; ">
      <div style="display: flex;flex: 1;flex-direction: column-reverse;">

        <ion-label class="ion-text-center" style="color: #52C7F4;"> DAY{{ dailySummary.dayCount }}</ion-label>

        <ion-label style="font-size: 32px;color: #000;" class="ion-text-center">{{ dailySummary.date }}</ion-label>
        <ion-label class="ion-text-center" style="color: #000;">{{ dailySummary.date }}</ion-label>

      </div>
    </div>
    <div style="flex: 3;">
      <app-map [proofs]="proofs$ | async"></app-map>
      <div>
        <ion-label class="ion-text-center" style="font-size: 12px;">
          {{ 'title.bodyTemperature' | translate }}: bt
        </ion-label>
        <img *ngIf="true" src="../../assets/ui/Wr_icon.svg" />
        <img *ngIf="false" src="../../assets/ui/Er_icon.svg" />
      </div>
      <div style="align-items:center;">
        <ion-label class="ion-text-center" style="font-size: 16px; width: 50vw;">
          {{ 'title.symptoms' | translate }}:
          <ng-container (click)="selectedSymptoms=!selectedSymptoms"
            *ngFor="let summary of dailySummary.summaries ; let isLast = last">
            {{ summary }}{{isLast ? '' : ('splitter' | translate) }} ...
          </ng-container>


          <img class="presence-preview" *ngIf="!selectedSymptoms" (click)="selectedSymptoms=true"
            src="../../../../assets/ui/symptoms_on.svg">
          <img class="presence-preview" *ngIf="selectedSymptoms" (click)="selectedSymptoms=false"
            src="../../../../assets/ui/symptoms_off.svg" />
        </ion-label>
      </div>

      <div class="presence-preview preview-popup" appClickOutsideSameClass (clickOutside)="onClickOutside()" *ngIf="selectedSymptoms">
        <ion-label class="ion-text-center" style="font-size: 12px;">
          <ng-container *ngFor="let summary of dailySummary.summaries ; let isLast = last">
            {{ summary }}{{isLast ? '' : ('splitter' | translate) }}
          </ng-container>
        </ion-label>
      </div>
    </div>
  </div>
</ng-container>