.preview-popup {
    font-size: 12px;
    width: 45vw;
    position: absolute;
    z-index: 100;
    margin: 1vw;
    margin-left: 3vw;
    padding: 2vw;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 5px 5px #ebebeb;
    -moz-box-shadow: 0 0 5px 5px #ebebeb;
    box-shadow: 0 0 5px 5px #ebebeb;
}