<ion-content>
  <div class="TA-AE" style="height: 60vw;width: 100%; display:flex;
  align-items:center;
  justify-content:center;
  border:1px solid #000;">
    <div class="TA-AE" style="height: 50vw;width: 50vw;margin: 10px; ">
    <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"
    (configReady)="today()"

    ></ng-lottie>

  </div>
    <!-- DEBUG_UI: The bottom of the last card will be cut by the virtual scroll container-->
   <!-- <div>
    <button (click)="stop()">Stop</button>
    <button (click)="play()">Play</button>
    <button (click)="playSegments()">playSegments</button>  
    <button (click)="day1()">day1</button>  
    <button (click)="day2()">day2</button>  
    <button (click)="day3()">day3</button>  
    <button (click)="day15()">day15</button>  
    <button (click)="day()">day</button>  
    <button (click)="pause()">pause</button>
  </div>  -->
</div>
  {{items.length}}
  <div style="border-bottom: 2pt;"></div>
  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <!-- FIXME: The bottom of the last card will be cut by the virtual scroll container-->
  <ion-virtual-scroll [items]="items$ | async" approxItemHeight="220px" height="100%">
    <ion-card *virtualItem="let item; let itemBounds = bounds;" [routerLink]="['/tabs/tab-data/daily-detail', item.day]"
      routerDirection="forward">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <ion-card-header>
              <ion-card-title class="ion-text-center">DAY {{ item.day }}</ion-card-title>
              <ion-card-title class="ion-text-center">{{ item.month }}/{{ item.date }}</ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-text-center">BT: {{ item.bt }}</ion-card-content>
          </ion-col>
          <ion-col size="8">
            <div>
              <ion-img [src]="item.imgSrc" alt="No picture"></ion-img>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-virtual-scroll>
</ion-content>