<app-header [headerTitle]="'title.dailyRecord' | translate" showDismissButton="true"
  (dismissClicked)="onCancelClicked()">
</app-header>
<ion-content *ngIf="templateName$ | async as templateName">
  <ion-list *ngIf="fieldGroups$ | async as fieldGroups">
    <app-proof-item [status]="proofStatus"></app-proof-item>
    <ng-container *ngFor="let fieldGroup of fieldGroups">
      <ion-item-divider *ngIf="fieldGroup !== []">
        <ion-label>
          {{ 'dataTemplate.' + templateName + '.dataGroup.' + fieldGroup[0].dataGroup | translate }}
        </ion-label>
      </ion-item-divider>
      <app-add-record-field-item *ngFor="let field of fieldGroup" [field]="field" [templateName]="templateName">
      </app-add-record-field-item>
    </ng-container>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-grid fixed class="ion-text-center">
    <ion-row>
      <ion-col size="6">
        <ion-button size="large" fill="outline" (click)="onClearClicked()">{{ 'title.clear' | translate }}</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button size="large" (click)="onSubmitClicked()">{{ 'title.submit' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>