<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'DIARY.title' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-slides>

    <ion-slide> -->
      <ion-card>
        <ion-list>
          <app-daily-detail-upper [dailyDetail]="dailyDetail$ | async"></app-daily-detail-upper>
          <div
            style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
          </div>
          <!-- FIXME:  button state -->
          <div style=" display: flex;flex: 1;flex-direction:row-reverse;">
            <img *ngIf="selectedSegment" (click)="selectedSegment=false" src="../../assets/ui/sort_3.svg" />
            <img  *ngIf="!selectedSegment" (click)="selectedSegment=false" src="../../assets/ui/sort_3_B.svg" />

            <img src="../../assets/ui/sort_2.svg" />
            <img *ngIf="selectedSegment" (click)="selectedSegment=true" src="../../assets/ui/sort_1.svg" />
            <img *ngIf="!selectedSegment" (click)="selectedSegment=true" src="../../assets/ui/sort_1_B.svg" />

          </div>
          <app-daily-detail-symptoms *ngIf="selectedSegment" [dailyDetail]="dailyDetail$ | async"></app-daily-detail-symptoms>
        
        
          <app-daily-detail-photos *ngIf="!selectedSegment"></app-daily-detail-photos>
        </ion-list>
      </ion-card>

    <!-- </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-list>
          <app-daily-detail-upper></app-daily-detail-upper>
          <div
            style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
          </div>
          <div style=" display: flex;flex: 1;flex-direction:row-reverse;">
            <img (click)="selectedSegment=!selectedSegment" src="../../assets/ui/sort_3.svg" />
            <img src="../../assets/ui/sort_2.svg" />
            <img (click)="selectedSegment=!selectedSegment" src="../../assets/ui/sort_1.svg" />
          </div>
          <app-daily-detail-symptoms *ngIf="selectedSegment"></app-daily-detail-symptoms>
          <app-daily-detail-photos *ngIf="!selectedSegment"></app-daily-detail-photos>
        </ion-list>
      </ion-card>
    </ion-slide>

  </ion-slides> -->

</ion-content>

<!-- FIXME: The segment button should be smaller to match the wireframe -->
<!-- <ion-footer>
  <ion-segment value="condition" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="condition">
      <ion-icon name="documents-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="picture">
      <ion-icon name="images-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer> -->