.popover_class .popover-content {
        height:  20% !important;
        background-color:#33FF33 !important; 

}
.popover_class  {
        height:  20% !important;
        background-color:#33FF33 !important; 

}
 .popover-content {
        height:  20% !important;
        background-color:#33FF33 !important; 

}