<!-- <ion-header>
  <ion-toolbar>
    <ion-title>record-finish</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content style="justify-items: center;margin-top: 50vh;">
  <ion-grid style="width:100%;height:100%;overflow:scroll;align-items: center;justify-items: center;">
        <div style="display: flex;flex-direction: column;align-items: center;">
          <img style="width:100px;height:100px;" src="../assets/ui/success.svg" />
          <h4>{{text}}</h4>
        </div>
  </ion-grid>
</ion-content>
