<ion-header>
  <ion-row>
    <ion-button (click)="cancel()">{{ 'title.cancel' | translate }}</ion-button>
    <ion-col text-center>
      <div style="display: flex;flex-direction: column;align-items: center;">
        <ion-label>{{ photo.timestamp | date: 'yyyy/MM/dd' }} </ion-label>
        <ion-label>{{ photo.timestamp | date: 'HH:mm:ss' }} </ion-label>
      </div>
    </ion-col>
    <ion-button (click)="deleteImage()">{{ 'title.delete' | translate }}</ion-button>
  </ion-row>
</ion-header>

<ion-content>

  <div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
  </div>
  <div style="display: flex;flex-direction: column;height: 40vw;">
    <ion-img [src]="'data:image/jpeg;base64,' + photo.byteString" style="width: 100%;"></ion-img>
  </div>
</ion-content>