<form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <ion-grid class="ion-text-center">
    <ion-row>
      <ion-col>
        <h1>{{ title }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{ 'title.email' | translate }}</ion-label>
          <ion-input formControlName="email" autocapitalize="on" autocomplete="on" clearInput inputmode="email"
            type="email">
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-checkbox formControlName="agreeTermsAndConditions" slot="start"></ion-checkbox>
          <ion-label class="long">{{ 'title.agreeTheTermsAndConditions' | translate }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button type="submit" [disabled]="!signupForm.valid || !confirmButtonEnabled">
          {{ 'title.confirm' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>