ion-grid{ 
        width: 99% !important;
}
.long {
        // width: 95% ;
        white-space: normal;
        word-break: break-all !important;
        word-wrap: break-word !important;
        height: 80px;
}