<ion-header>
  

    <ion-toolbar color="primary">
      <ion-title slot="secondary">
       MyLog14
      </ion-title>  
      <ion-tab-button slot="end" tab="tab-category">
        <ion-icon name="grid-outline"></ion-icon>
        <ion-label class=".ion-text-center" >About</ion-label>
      </ion-tab-button>

    </ion-toolbar>

  <!-- <ion-toolbar color="primary">
    <ion-title slot="secondary">
      {{ 'DIARY.title' | translate:params }}
    </ion-title>
    <ion-tab-button slot="end" tab="tab-category">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>Abosut</ion-label>
    </ion-tab-button>


  </ion-toolbar> -->
      <!-- FIXME: Style is quite different from the wireframe -->
    <!-- <ion-button slot="end" [routerLink]="['/categorize-data']" routerDirection="forward">
      <ion-icon name="folder-open-outline"></ion-icon>
      <ion-badge color="danger" slot="end">22</ion-badge>
    </ion-button> -->
  <!-- <ion-toolbar color="primary">
     
      <ion-title class=".ion-text-center">Right side menu toggle</ion-title>
  
      <ion-tab-button slot="end" tab="tab-category">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>
    </ion-toolbar> -->

</ion-header>

<ion-content>
  <app-view-by-date></app-view-by-date>
</ion-content>