ion-content{
        --background: transparent;
        --height: 110%;
        --width: 110vw;
        // clip-path: circle(18.2% at 50% 92%);
//   clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 91%, 18% 91%, 18% 100%, 0% 100%);

    }
ion-img{
        --height: 110%;
        --width: 110%;
         
}