<!-- <ion-header>
  <ion-toolbar>
    <ion-title>guide</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-content>
  <img src="../../assets/mask/Mask_view.svg" />

</ion-content> -->
<ion-content>
  <ion-slides scrollbar="false" pager="true" [options]="slideOpts" #theSlides>
    <ion-slide >
        <img  style="width: 100vw;height: 100vh;" (click)="moveToNext(theSlides)"src="../../assets/mask/Mask_view.svg" />
        <div class="text-container">
          <h1 class="title">{{ 'TOUR.slide3.title1' | translate }}</h1>
          <h1 class="title">{{ 'TOUR.slide3.title2' | translate }}</h1>
          <p class="desc">{{ 'TOUR.slide3.desc1' | translate }}</p>
          <p class="desc">{{ 'TOUR.slide3.desc2' | translate }}</p>
        </div>
    </ion-slide>
    <ion-slide >
      <img  style="width: 100vw;height: 100vh;" (click)="moveToNext(theSlides)" src="../../assets/mask/Mask_add.svg" />
    </ion-slide>
    <ion-slide >
      <img   style="width: 100vw;height: 100vh;" (click)="moveToNext(theSlides)" src="../../assets/mask/Mask_share.svg" />
    </ion-slide>
    <ion-slide style="width: 100vw;height: 100vh;" >
      <div style="padding-top: 50vh; flex-direction: column;justify-content: center;align-items: center;">
        <ion-button (click)="cancel()" expand="block" shape="round">
          {{ 'TOUR.getStarted' | translate }}
        </ion-button>
      </div>
    
    </ion-slide>
  </ion-slides>
</ion-content>