ion-card{
        height: 90%;
        margin: 3vh;
}
:root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
ion-slides {
        height: 100%;
      }
  
      .swiper-slide {
        display: block;
      }
  
      .swiper-slide h2 {
        margin-top: 2.8rem;
      }
  
    
      b {
        font-weight: 500;
      }
  
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: var(--ion-color-step-600, #60646b);
      }
  
      p b {
        color: var(--ion-text-color, #000000);
      }