<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ 'DIARY.title' | translate }}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back-outline">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-date-detail-overview></app-date-detail-overview>
    <app-date-detail-condition *ngIf="selectedSegment === 'condition'"></app-date-detail-condition>
    <app-date-detail-picture *ngIf="selectedSegment === 'picture'"></app-date-detail-picture>
  </ion-list>
</ion-content>

<!-- FIXME: The segment button should be smaller to match the wireframe -->
<ion-footer>
  <ion-segment value="condition" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="condition">
      <ion-icon name="documents-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="picture">
      <ion-icon name="images-outline"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>
