<ion-header>
  <ion-toolbar>
    <ion-title slot="secondary">
      {{ headerTitle }}
    </ion-title>
   
    <!-- <ion-buttons slot="start">
      <ion-back-button text="123" icon="arrow-back-outline" color="danger">
      </ion-back-button>
    </ion-buttons> -->
    <!-- <ion-buttons  >
      <ion-back-button text="123" icon="arrow-back-outline" color="danger">
      </ion-back-button>
    </ion-buttons> -->
    <ion-button slot="end" fill="clear" (click)="onClickShare()">
      <img src="../../../assets/ui/share.svg">
    </ion-button>
    <!--<div slot="end"  style="width: 15%;"></div>-->

    
  </ion-toolbar>
</ion-header>