<div class="TA-AE" style="height: 60vw;width: 100%; display:flex;
  align-items:center;
  justify-content:center;
  /* border:1px solid #000; */
  ">
  <div class="TA-AE" style="height: 50vw;width: 50vw;margin: 10px; ">
    <ng-lottie (click)="onClickAnimation()" [options]="options" (animationCreated)="onAnimationCreated($event)"
      (configReady)="onConfigReady()"></ng-lottie>
  </div>
</div>
<div style="border-bottom: 2pt;"></div>
<div style="border-width:0.5px;border-bottom-style:groove;border-color:#555555;margin-right: 25px;margin-left: 25px;">
</div>