/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.recordSaved{
     
  .alert-title {
    text-align: center;
  }
  .alert-sub-title {
    text-align: center;
  }

  .alert-message {
    text-align: center;
  }

  .alert-button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

}
.popover-content {
  --min-width: 80%;
  // --min-height:  40% ;

}
.popover_class {
  // --min-hight: 300px !important;
  --min-width: 100%;

  // width: 30px !important;
  // height:  80vw !important;
}
.success_class {
  // --min-hight: 300px !important;
  --min-width: 100%;

  width: 100% !important;
  height:  30vw !important;
}
.Guide-modal{
  --background: transparent !important;
  --height: 100%;
  --width: 110%;

  // --background: "#FFff0f" !important;
  // --height: 100%;
  // --width: 100%;
  // clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40% 100%, 40% 91%, 18% 91%, 18% 100%, 0% 100%);


   // --height: 80%;
  // --width: 80%;
  // --border-radius: 25px;
  // clip-path: circle(11.9% at 13% 88%);
  // clip-path: polygon(0% 91%, 18% 91%, 18% 100%, 100% 100%, 100% 0%, 0% 0%);

  // clip-path: circle(10.2% at 11% 11%);
  // clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 93% 55%, 39% 35%);

 // content:'';
  // position:absolute;
  // bottom:50%;
  // width:100%;
  // height:100%;
  // border-radius:100%;
    // // --background: transparent !important;
    // --background: "#FFff0f" !important;
    // --height: 100%;
    // --width: 100%;
    // clip-path: polygon(33% 100%, 32% 78%, 63% 79%, 63% 99%, 100% 100%, 100% 1%, 0% 0%, 0% 100%);
}

.toast {
    text-align: center;
    font-weight: bold;
}


.picker-button.test{
  background: forestgreen!important;
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
  pointer-events:none;

}

