/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "NotoSans-Regular";
  src: url("./assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSans-Bold";
  src: url("./assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

app-header{
 color: #8EC3C3;
}

.recordSaved {
  .alert-title {
    text-align: center;
  }
  .alert-sub-title {
    text-align: center;
  }

  .alert-message {
    text-align: center;
  }

  .alert-button-group {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
.popover-content {
  --min-width: 80%;
}
.popover_class {
  --min-width: 100%;
}
.success_class {
  --min-width: 100%;

  width: 100% !important;
  height: 30vw !important;
}
.Guide-modal {
  --background: transparent !important;
  --height: 100%;
  --width: 110%;
}

.toast {
  text-align: center;
  font-weight: bold;
}

.picker-button.test {
  background: forestgreen !important;
  cursor: not-allowed;
  background-color: rgb(229, 229, 229) !important;
  pointer-events: none;
}

:root {
  --font-size-1: 22pt;
  --font-size-2: 18pt;
  --font-size-3: 14pt;
  --font-weight-heavy: 500;
  --ion-font-family: "NotoSans-Regular", "Roboto", "Helvetica-Neue", "sans-serif";
}

ion-text {
  font-size: var(--font-size-1) !important;
  font-weight: var(--font-weight-heavy) !important;
  line-height: calc(var(--font-size-1) + 6pt);
}

ion-button {
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-heavy) !important;
  line-height: calc(var(--font-size-2) + 6pt);
}

ion-card-title {
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-heavy) !important;
  line-height: calc(var(--font-size-2) + 6pt);
}

.input-form {
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-heavy) !important;
  line-height: calc(var(--font-size-2) + 6pt);
}

h2 {
  font-size: var(--font-size-2) !important;
  font-weight: var(--font-weight-heavy) !important;
  line-height: calc(var(--font-size-2) + 6pt);
}

h3 {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
}

.alert-radio-label {
  font-size: var(--font-size-3) !important;
}

.alert-button {
  font-size: var(--font-size-3) !important;
}

ion-label {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
  h3 {
    font-size: var(--font-size-3) !important;
    line-height: calc(var(--font-size-3) + 6pt);
  }
}

ion-datetime {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
}

ion-select {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
}

ion-select::part(placeholder)::first-letter {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
}

ion-card-subtitle {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
}

ion-card-content {
  font-size: var(--font-size-3) !important;
  line-height: calc(var(--font-size-3) + 6pt);
}

.alert-radio-label {
  white-space: normal !important;
}

.alert-wrapper {
  width: 90% !important;
  height: 80% !important;
  max-width: 100% !important;
}

.alert-radio-button {
  height: 110px !important;
}

.alert-radio-group {
  max-height: 100% !important;
  height: 100% !important;
}
