ion-thumbnail {
        width: 32vw;
        height:32vw ;
        padding: 2vw;
     }
:root {
        --ion-safe-area-top: 20px;
        --ion-safe-area-bottom: 22px;
      }
      ion-img{
              width: 30vw;
              height:30vw ;
        //       --padding: 10px;
        //       --padding-start: 10px;
        //       --padding-bottom: 10px;
        //       --margin-left:10px;
        //       --margin:10px;
      }
      img{
        width: 30px;
        height:30px ;
        position: absolute;

        // padding-right: 10px;
}

.popover_class{
        background: rgba(0, 0, 0, 0.4);
      
      }

      .popover_class .popover-content {
        background: lightsteelblue;
    }