<ion-content>
  <ion-slides scrollbar="false" pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../assets/boot/BootPage_2_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'TOUR.slide2.title1' | translate }}</h1>
        <h1 class="title">{{ 'TOUR.slide2.title2' | translate }}</h1>
        <p class="desc">{{ 'TOUR.slide2.desc1' | translate }}</p>
        <p class="desc">{{ 'TOUR.slide2.desc2' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/boot/BootPage_3_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'TOUR.slide3.title1' | translate }}</h1>
        <h1 class="title">{{ 'TOUR.slide3.title2' | translate }}</h1>
        <p class="desc">{{ 'TOUR.slide3.desc1' | translate }}</p>
        <p class="desc">{{ 'TOUR.slide3.desc2' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/boot/BootPage_1_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'TOUR.slide1.title1' | translate }}</h1>
        <h1 class="title">{{ 'TOUR.slide1.title2' | translate }}</h1>
        <p class="desc">{{ 'TOUR.slide1.desc1' | translate }}</p>
        <p class="desc">{{ 'TOUR.slide1.desc2' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/boot/BootPage_4_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'TOUR.slide4.title1' | translate }}</h1>
        <h1 class="title">{{ 'TOUR.slide4.title2' | translate }}</h1>
        <p class="desc">{{ 'TOUR.slide4.desc1' | translate }}</p>
        <p class="desc">{{ 'TOUR.slide4.desc2' | translate }}</p>
      </div>
      <ion-button class="start-button" (click)="onClick()" expand="block" shape="round">
        {{ 'TOUR.getStarted' | translate }}
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>