<ion-content>
<ion-slides scrollbar="false" pager="true" [options]="slideOpts">
  <ion-slide>
    <img src="../../assets/boot/BootPage_1.svg" />
  </ion-slide>
  <ion-slide>
    <img src="../../assets/boot/BootPage_2.svg" />
  </ion-slide>
  <ion-slide>
    <img src="../../assets/boot/BootPage_3.svg" />
  </ion-slide>
  <ion-slide>
    <img src="../../assets/boot/BootPage_4.svg" />
    <ion-button class="start-button" (click)="onClick()" expand="block" shape="round">
      開始使用
    </ion-button>
  </ion-slide>
</ion-slides>
</ion-content>