<ion-content>
  <ion-slides scrollbar="false" pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../assets/boot/BootPage_2_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'title.logYourLifeActivities' | translate }}</h1>
        <h1 class="title">{{ 'empty' | translate }}</h1>
        <p class="desc">{{ 'empty' | translate }}</p>
        <p class="desc">{{ 'empty' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/boot/BootPage_3_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'title.throughDataVisualization' | translate }}</h1>
        <h1 class="title">{{ 'empty' | translate }}</h1>
        <p class="desc">{{ 'description.throughDataVisualization' | translate }}</p>
        <p class="desc">{{ 'empty' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/boot/BootPage_1_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'title.protectYourOwnData' | translate }}</h1>
        <h1 class="title">{{ 'empty' | translate }}</h1>
        <p class="desc">{{ 'description.protectYourData' | translate }}</p>
        <p class="desc">{{ 'empty' | translate }}</p>
      </div>
    </ion-slide>
    <ion-slide>
      <img src="../../assets/boot/BootPage_4_no_text.svg" />
      <div class="text-container">
        <h1 class="title">{{ 'description.throughRecordDataAndAnonymousSharing' | translate }}</h1>
        <h1 class="title">{{ 'description.getInvolvedInResearch' | translate }}</h1>
        <p class="desc">{{ 'empty' | translate }}</p>
        <p class="desc">{{ 'empty' | translate }}</p>
      </div>
      <ion-button class="start-button" (click)="onClick()" expand="block" shape="round">
        {{ 'title.getStarted' | translate }}
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>